<div ng-controller="EstaLdCtrl">  
  <component-header></component-header>

  <form class="form-horizontal InputForm" role="form"  novalidate>



    <div class="form-group">
      <label for="endPoint" class="col-xs-2 control-label">SPARQL EndPoint</label>
      <div class="input-group col-sm-8">
        <select id="endPoint" class="form-control" ng-model="source.endpoint" ng-options="c.endpoint as c.label for c in endpoints" required></select>
      </div>
    </div>


    <source-graph ng-show="isLocalEndpoint()"></source-graph>

    <div class="form-group">
      <div class="col-sm-2"></div>
      <a class="btn btn-success btn-large" ng-click="openService();">Launch Service</a>
      </div>
    </div>

  </form>

</div>

