<div class="contents" ng-controller="MappifyFormCtrl">
  <component-header></component-header>

  <p>A tool for exploring (geographical) Linked Data datasets on the Web. To get started select a data set from the drop down menu.</p>
  <form class="form-horizontal InputForm" role="form" >
    <div class="form-group">
    <!-- 
    <label for="Endpoint">Endpoint</label>
      <input type="url" class="form-control" id="Endpoint" disabled="disabled" ng-model="mappify.service"></input>
    </div>
    <div class="form-group">
      <label for="DataSet">DataSet</label>
      <select id="DataSet" class="form-control" ng-model="facete.dataset" ng-options="namedgraph.name as namedgraph.name for namedgraph in namedGraphs" required>
      </select>
    </div>
     -->
    <div class="form-group">
      <div class="col-xs-1"></div>
    </div>
    <div class="form-group">
      <div class="col-xs-1"></div>
      <a class="btn btn-success btn-large" ng-click="openService();">Launch Service</a>
    </div>
  </form>

</div>

