#Framework configuration files
/src/main/webapp/WEB-INF/web.xml
/src/main/resources/framework-configuration.ttl

#Mac
.DS_Store

# Eclipse
.classpath
.settings
.project

# Maven
/target
/logs

# Vaadin cache dir
/src/main/webapp/VAADIN/gwt-unitCache
/src/main/webapp/VAADIN/widgetsets
/target
