
<h2>Data Source Management</h2>

<h3>Add a Source</h3>

<h3>External Data Sources</h3>


<h3>Internal Data Sources</h3>

<table class="table table-striped">
<thead>
  <tr>
    <th>uri</th>
    <th>Description</th>
    <th>Type</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>http://geoknow.eu/resource/UnisterHotels</td>
    <td>Hotels MySQL</td>
    <td>http://localhost/geoknow-generator-config</td>
    <td>
    	<ul>
    		<i class="icon-trash icon-large"></i>
    		<i class="icon-edit icon-large"></i>
    	</ul>
    </td>
  </tr>
</tbody>
</table>