
<h2>Graph Management</h2>

<h3>Add a Graph</h3>

<form class="form-inline">
  <input type="text" class="input-large" placeholder="Description">
  <input type="text" class="input-large" placeholder="Endpoint">
  <input type="text" class="input-large" placeholder="Graph">
  <button type="submit" class="btn">Add</button>
</form>


<h3>Existing Graphs</h3>

<table class="table table-striped">
<thead>
  <tr>
    <th>Graph</th>
    <th>Description</th>
    <th>Endpoint</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>http://192.168.43.209:8890/sparql</td>
    <td>GeoKnow Workbench Settings</td>
    <td>http://localhost/geoknow-generator-config</td>
    <td>
    	<ul>
    		<i class="icon-trash icon-large"></i>
    		<i class="icon-edit icon-large"></i>
    	</ul>
    </td>
  </tr>
</tbody>
</table>


