<h3 class="green bold">Namespaces Management</h3>

<div ng-controller="NamespacesCtrl">

  <div ng-controller="ModalWindow">
    <button type="button" class="btn btn-large btn-primary" ng-click="OpenWindow('modalNamespace'); new()">Add new namespace</button>

    <div class="modal fade" id="modalNamespace">
      <form name="namespaceForm" class="form-horizontal" role="form" novalidate>
        <div class="modal-header">
          <button type="button" class="close" ng-click="close('modalNamespace')" aria-hidden="true">&times;</button>
          <h5 class="modal-title green bold">Namespace</h5>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label for="name" class="col-lg-2 control-label">Prefix</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="prefix" name="prefix" placeholder="Prefix" ng-model="namedgraph.prefix" required />
              <div class="error"  ng-show="namespaceForm.prefix.$dirty && namespaceForm.prefix.$invalid">Invalid:
                <span ng-show="namespaceForm.prefix.$error.required">Specify a prefix</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="col-lg-2 control-label">Uri</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="uri" id="uri" placeholder="uri" ng-model="namedgraph.uri" />
              <div class="error"  ng-show="namespaceForm.uri.$dirty && namespaceForm.uri.$invalid">Invalid:
                <span ng-show="namespaceForm.uri.$error.required">Give a uri</span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-sm btn-primary" ng-click="close('modalNamespace')" ng-click="save(); close('modalNamespace');"
          ng-disabled="namespaceForm.$invalid || isUnchanged(namedgraph)">Save</button>
          <button type="button" class="btn-sm btn-default" ng-click="close('modalNamespace')">Cancel</button>
        </div>      
      </form>
    </div>

  <table class="table table-striped">
  <thead>
    <tr>
      <th>Action</th>
      <th>Prefix</th>
      <th>Namespace</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="namespace in namespaces">
      <td>
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span></button>
      </td>
    	<td>{{namespaces.prefix}}</td>
      <td>{{namespaces.uri}}</td>
    </tr>
  </tbody>
  </table>

</div>


