Source: geoknow-generator-ui
Section: unknown
Priority: extra
Maintainer: Vadim Zaslawski <vadim.zaslawski@ontos.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/geoknow-generator-ui.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/geoknow-generator-ui.git;a=summary

Package: geoknow-generator-ui
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
