<h3 class="green bold">Named Graphs Management</h3>

<div ng-controller="GraphCtrl">

  <button ng-if="isUserAuthenticated()" type="button" class="btn btn-success btn-large" ng-click="new();">Add new graph</button>

  <h4 ng-if="isUserAuthenticated()" >User Graphs</h4>
  <table ng-if="isUserAuthenticated()" class="table table-striped">
  <thead>
    <tr>
      <th>Action</th>
      <th>URI</th>
      <th>Label</th>
      <th>Description</th>
      <th>Created</th>
      <th>Modified</th>
      <th>Public Access</th>
      <th>Read Access</th>
      <th>Write Access</th>
    </tr>
  </thead>
  <tbody>
     <tr ng-repeat="namedgraph in namedgraphs">
      <td>
        <button type="button" class="btn btn-default btn-xs" ng-click="delete(namedgraph.name)"><span class="glyphicon glyphicon-trash"></span></button>
        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modalGraph" ng-click="edit(namedgraph.name);"><span class="glyphicon glyphicon-edit"></span></button>
      </td>
      <td>{{namedgraph.name}}</td>
      <td>{{namedgraph.graph.label}}</td>
      <td>{{namedgraph.graph.description}}</td>
      <td>{{namedgraph.graph.created}}</td>
      <td>{{namedgraph.graph.modified}}</td>
      <td>{{accessModes[namedgraph.publicAccess]}}</td>
      <td>
          <ul class="list-unstyled">
              <li ng-repeat="user in namedgraph.usersRead">{{user}}</li>
          </ul>
      </td>
      <td>
          <ul class="list-unstyled">
              <li ng-repeat="user in namedgraph.usersWrite">{{user}}</li>
          </ul>
      </td>
    </tr>
  </tbody>
  </table>

  <br/>


  <!-- <div ng-if="!isAdminLogged()"> -->
    <h4>
        <span class="btn-group">
            <button type="button" class="btn btn-link reset" ng-click="refreshAccessibleGraphs()">
                <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i>
            </button>
        </span>
        Accessible Graphs
    </h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>URI</th>
            <th>Label</th>
            <th>Description</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Owner</th>
            <th>Access</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="namedgraph in accnamedgraphs">
            <td>{{namedgraph.name}}</td>
            <td>{{namedgraph.graph.label}}</td>
            <td>{{namedgraph.graph.description}}</td>
            <td>{{namedgraph.graph.created}}</td>
            <td>{{namedgraph.graph.modified}}</td>
            <td>{{namedgraph.owner}}</td>
            <td>{{namedgraph.access}}</td>
        </tr>
        </tbody>
    </table>
  <!-- </div> -->

    <div ng-if="isAdminLogged()">
    <h4>
        <span class="btn-group">
            <button type="button" class="btn btn-link reset" ng-click="refreshAllGraphs()">
                <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i>
            </button>
        </span>
        All Graphs
    </h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th ng-if="isUserAuthenticated()">Action</th>
            <th>URI</th>
            <th>Label</th>
            <th>Description</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Owner</th>
            <th>Public access</th>
            <th>Read access</th>
            <th>Write access</th>
        </tr>
        </thead>
        <tbody>
        <!-- <tr ng-repeat="namedgraph in allgraphs | filter:graphFilter"> -->
        <tr ng-repeat="namedgraph in allgraphs">
            <td ng-if="isUserAuthenticated()">
                <button type="button" class="btn btn-default btn-xs" ng-click="deleteForeign('namedgraph.name')"><span class="glyphicon glyphicon-trash"></span></button>
                <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modalGraph" ng-click="editAdmin('namedgraph.name');"><span class="glyphicon glyphicon-edit"></span></button>
            </td>
            <td>{{namedgraph.name}}</td>
            <td>{{namedgraph.graph.label}}</td>
            <td>{{namedgraph.graph.description}}</td>
            <td>{{namedgraph.graph.created}}</td>
            <td>{{namedgraph.graph.modified}}</td>
            <td>{{namedgraph.owner}}</td>
            <td>{{accessModes[namedgraph.publicAccess]}}</td>
            <td>
                <ul class="list-unstyled">
                    <li ng-repeat="user in namedgraph.usersRead">{{user}}</li>
                </ul>
            </td>
            <td>
                <ul class="list-unstyled">
                    <li ng-repeat="user in namedgraph.usersWrite">{{user}}</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    </div>

  <br/>

  <button ng-if="isUserAuthenticated()" type="button" class="btn btn-success btn-large" ng-click="newGroup();">Add new graph group</button>

  <h4>
      <span class="btn-group">
          <button type="button" class="btn btn-link reset" ng-click="refreshGraphGroups()">
              <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i>
          </button>
      </span>
      Graph Groups
  </h4>

  <table class="table table-striped">
      <thead>
      <tr>
          <th ng-if="isUserAuthenticated()">Action</th>
          <th>URI</th>
          <th>Label</th>
          <th>Description</th>
          <th>Created</th>
          <th>Modified</th>
          <th>Graphs</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="gg in graphgroups">
          <td ng-if="isUserAuthenticated()">
              <button type="button" class="btn btn-default btn-xs" ng-click="deleteGroup('gg.name')"><span class="glyphicon glyphicon-trash"></span></button>
              <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modalGroup" ng-click="editGroup('gg.name');"><span class="glyphicon glyphicon-edit"></span></button>
          </td>
          <td>{{gg.name}}</td>
          <td>{{gg.label}}</td>
          <td>{{gg.description}}</td>
          <td>{{gg.created}}</td>
          <td>{{gg.modified}}</td>
          <td>
              <ul class="list-unstyled">
                  <li ng-repeat="graph in gg.namedGraphs">{{graph}}</li>
              </ul>
          </td>
      </tr>
      </tbody>
  </table>
</div> <!-- controller div -->