<div ng-controller="D2RQMappingCtrl">
    <div class="row below">
    <button type="button" class="btn btn-primary btn-large" data-toggle="modal" data-target="#modalMappingGroup" ng-click="newMappingGroup();" data-i18n="_add-mapping-group_"></button>
	</div>

    <div class="modal fade" id="modalMappingGroup">
    <div class="modal-dialog">
    <div class="modal-content">
        <form name="mappingGroupForm" class="form-horizontal InputForm" role="form" novalidate>
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('#modalMappingGroup')" aria-hidden="true">&times;</button>
                <h5 class="modal-title green bold" data-i18n="_mapping-group_"></h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-lg-2 control-label" data-i18n="_name_"></label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="name" name="name" ng-model="mgroup.name" required/>
                        <div class="error" ng-show="mappingGroupForm.name.$dirty && mappingGroupForm.name.$invalid">{{'_invalid-field-message_' | i18n}}:
                            <span ng-show="mappingGroupForm.name.$error.required" data-i18n="_name-missed-message_"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" data-i18n="_ontology_"></label>
                    <div class="col-lg-10">
                        <select id="ontology" class="form-control" ng-model="mgroup.ontology" ng-options="onto as onto.uri for onto in ontologies | orderBy:'uri'" required></select>
                        <div class="error" ng-show="mappingGroupForm.ontology.$dirty && mappingGroupForm.ontology.$invalid">{{'_invalid-field-message_' | i18n}}:
                            <span ng-show="mappingGroupForm.ontology.$error.required" data-i18n="_ontology-missed-message_"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" data-i18n="_database_"></label>
                    <div class="col-lg-10">
                        <select id="database" class="form-control" ng-model="mgroup.database" ng-change="updateConnection()" ng-options="db as db.label for db in databases | orderBy:'label'" required></select>
                        <div class="error" ng-show="mappingGroupForm.database.$dirty && mappingGroupForm.database.$invalid">{{'_invalid-field-message_' | i18n}}:
                            <span ng-show="mappingGroupForm.database.$error.required" data-i18n="_database-missed-message_"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-sm btn-primary" ng-click="addMappingGroup();" ng-disabled="mappingGroupForm.$invalid || isAdding()" data-i18n="_add_"></button>
                    <button type="button" class="btn-sm btn-default" data-dismiss="modal" data-i18n="_cancel_"></button>
                </div>
            </div>
        </form>
    </div>
    </div>
    </div>

    <div class="modal fade" id="modalMapping">
        <form name="mappingForm" class="form-horizontal InputForm" role="form" novalidate>
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('#modalMapping')" aria-hidden="true">&times;</button>
                <h5 class="modal-title green bold" data-i18n="{{modaltitle}}"></h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-lg-1 control-label" data-i18n="_name_"></label>
                    <div class="col-lg-11">
                        <input type="text" class="form-control" id="name" name="name" ng-model="mapping.name" required/>
                        <div class="error" ng-show="mappingForm.name.$dirty && mappingForm.name.$invalid">{{'_invalid-field-message_' | i18n}}:
                            <span ng-show="mappingForm.name.$error.required" data-i18n="_name-missed-message_"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label" data-i18n="_table_"></label>
                    <div class="col-lg-11">
                        <select id="table" class="form-control" ng-model="mapping.table" ng-options="t for t in tables | orderBy:'toString()'" ng-change="updateColumns()" required></select>
                        <div class="error" ng-show="mappingForm.table.$dirty && mappingForm.table.$invalid">{{'_invalid-field-message_' | i18n}}:
                            <span ng-show="mappingForm.table.$error.required" data-i18n="_table-missed-message_"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label" data-i18n="_class_"></label>
                    <div class="col-lg-11">
                        <select id="class" class="form-control" ng-model="mapping.class" ng-options="c as c.uri for c in ontologyClasses | orderBy:'uri'" ng-change="updateProperties()" required></select>
                        <div class="error" ng-show="mappingForm.class.$dirty && mappingForm.class.$invalid">{{'_invalid-field-message_' | i18n}}:
                            <span ng-show="mappingForm.class.$error.required" data-i18n="_class-missed-message_"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label" data-i18n="_uri-pattern-type_"></label>
                    <div class="col-lg-11">
                        <select id="ptype" class="form-control" ng-model="mapping.ptype" ng-options="pt.value as localize(pt.label) for pt in patternTypes | orderBy:'label'" required></select>
                        <div class="error" ng-show="mappingForm.ptype.$dirty && mappingForm.ptype.$invalid">{{'_invalid-field-message_' | i18n}}:
                            <span ng-show="mappingForm.ptype.$error.required" data-i18n="_uri-pattern-type-missed-message_"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="mapping.ptype=='uriColumn'">
                    <label class="col-lg-1 control-label" data-i18n="_uri-column_"></label>
                    <div class="col-lg-11">
                        <select id="uriColumn" class="form-control" ng-model="mapping.uriColumn" ng-options="c for c in tableColumns | orderBy:'toString()'"></select>
                    </div>
                </div>
                <div class="form-group" ng-show="mapping.ptype=='patternColumns'">
                    <label class="col-lg-1 control-label" data-i18n="_uri-pattern-columns_"></label>
                    <div class="col-lg-11">
                        <ul class="list-unstyled">
                            <li ng-repeat="c in tableColumns | orderBy:'toString()'">
                                <input type="checkbox" ng-checked="mapping.patternColumns.indexOf(c) > -1" ng-click="togglePatternColumn(c)"/>{{c}}
                            </li>
                        </ul>
                    </div>
                </div>

                <div ng-show="mapping.class!=null && mapping.table!=null">
                    <div class="row">
                        <label class="col-lg-1 control-label" data-i18n="_data-properties_"></label>
                        <div class="col-lg-11">
                            <table class="table table-striped">
                                <tr>
                                    <th data-i18n="_property_"></th>
                                    <th data-i18n="_column_"></th>
                                    <th data-i18n="_action_"></th>
                                </tr>
                                <tr ng-repeat="prop in mapping.dataProperties">
                                    <td>
                                        <select id="dprop" ng-model="prop.property" ng-options="p as p.uri for p in mapping.class.properties | filter:isDataProperty | orderBy:'uri'"></select>
                                    </td>
                                    <td>
                                        <select id="dcolumn" ng-model="prop.column" ng-options="c for c in tableColumns | orderBy:'toString()'"></select>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-xs" ng-click="removeDataProperty(prop)"><span class="glyphicon glyphicon-remove"></span></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <button type="button" ng-click="addNewDataProperty()" class="btn-sm btn-primary col-lg-offset-2" data-i18n="_add-data-property_"></button>
                    </div>
                </div>

                <br/>

                <div ng-show="mapping.class!=null && mapping.table!=null">
                    <div class="row">
                        <label class="col-lg-1 control-label" data-i18n="_object-properties_"></label>
                        <div class="col-lg-11">
                            <table class="table table-striped">
                                <tr>
                                    <th data-i18n="_property_"></th>
                                    <th data-i18n="_mapping-type_"></th>
                                    <th data-i18n="_mapping_"></th>
                                    <th data-i18n="_action_"></th>
                                </tr>
                                <tr ng-repeat="prop in mapping.objectProperties">
                                    <td>
                                        <select id="oprop" ng-model="prop.property" ng-options="p as p.uri for p in mapping.class.properties | filter:isObjectProperty | orderBy:'uri'"></select>
                                    </td>
                                    <td>
                                        <select id="mtype" ng-model="prop.mappingType" ng-options="mt.value as localize(mt.label) for mt in objectPropMappingTypes | orderBy:'label'"></select>
                                    </td>
                                    <td>
                                        <div class="row" ng-show="prop.mappingType=='column'">
                                            <label class="col-lg-5" data-i18n="_uri-column_"></label>
                                            <select id="ocolumn" class="col-lg-7" ng-model="prop.column" ng-options="c for c in tableColumns | orderBy:'toString()'"></select>
                                        </div>
                                        <div class="row" ng-show="prop.mappingType=='ref'">
                                            <label class="col-lg-3" data-i18n="_mapping_"></label>
                                            <select id="ref" class="col-lg-9" ng-model="prop.ref" ng-change="updateRefTable(prop)" ng-options="m as m.name for m in mapping.group.mappings | filter:notCurrent | orderBy:'name'"></select>
                                        </div>
                                        <div ng-show="prop.mappingType=='ref' && prop.ref!=null">
                                            <label>{{'_join-condition_' | i18n}}:</label>
                                            <div class="row">
                                                <label class="col-lg-3" data-i18n="_type_"></label>
                                                <select class="col-lg-9" ng-model="prop.join.type" ng-options="type.value as localize(type.label) for type in joinConditionTypes | orderBy:label"></select>
                                            </div>
                                            <div class="row" ng-show="prop.join.type=='linkingTable'">
                                                <label class="col-lg-3" data-i18n="_linking-table_"></label>
                                                <select class="col-lg-9" ng-model="prop.join.linkingTable" ng-options="t for t in tables | orderBy:'toString()'" ng-change="updateLinkingTable(prop)"></select>
                                            </div>
                                            <div>
                                                <table class="table table-striped">
                                                    <tr>
                                                        <th>{{prop.join.table1}}</th>
                                                        <th ng-show="prop.join.type=='linkingTable'">{{prop.join.linkingTable}}</th>
                                                        <th>{{prop.join.table2}}</th>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <select ng-model="prop.join.table1column" ng-options="c for c in tableColumns | orderBy:'toString()'">
                                                                <option></option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <div class="row" ng-show="prop.join.type=='linkingTable'">
                                                                <select ng-model="prop.join.linkingTableColumn1" ng-options="c for c in prop.join.linkingTableStructure | orderBy:'toString()'">
                                                                    <option></option>
                                                                </select>
                                                                <select ng-model="prop.join.linkingTableColumn2" ng-options="c for c in prop.join.linkingTableStructure | orderBy:'toString()'">
                                                                    <option></option>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <select ng-model="prop.join.table2column" ng-options="c for c in prop.ref.dataStructure | orderBy:'toString()'">
                                                                <option></option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-xs" ng-click="removeObjectProperty(prop)"><span class="glyphicon glyphicon-remove"></span></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <button type="button" ng-click="addNewObjectProperty()" class="btn-sm btn-primary col-lg-offset-2" data-i18n="_add-object-property_"></button>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn-sm btn-primary" ng-click="save();" ng-disabled="mappingForm.$invalid || isAdding()" data-i18n="_save_"></button>
                    <button type="button" class="btn-sm btn-default" data-dismiss="modal" data-i18n="_cancel_"></button>
                </div>
            </div>
        </form>
    </div>

	<div class="row below">
    <h4>
        <span class="btn-group">
            <button type="button" class="btn btn-link reset" ng-click="refreshMappingGroups()">
                <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i>
            </button>
        </span>
        {{'_mapping-groups_' | i18n}}
    </h4>

    <table class="table table-striped">
        <thead>
        <tr>
            <th data-i18n="_action_"></th>
            <th data-i18n="_name_"></th>
            <th data-i18n="_ontology_"></th>
            <th data-i18n="_data-source_"></th>
            <th data-i18n="_mappings_"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="mg in mgroups">
            <td>
                <button type="button" class="btn btn-default btn-xs" ng-click="deleteMappingGroup('{{mg.id}}')"><span class="glyphicon glyphicon-trash"></span></button>
                <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modalMapping" ng-click="newMapping(mg)"><span class="glyphicon glyphicon-plus"></span></button>
                <button type="button" class="btn btn-default btn-xs" ng-show="!mg.actual" ng-click="actualizeMappingGroup('{{mg.id}}')"><span class="glyphicon glyphicon-check"></span></button>
            </td>
            <td>{{mg.name}}</td>
            <td>{{mg.ontologyUri}} (v. {{mg.ontologyVersion}}{{mg.actual ? "" : ", not actual"}})</td>
            <td>{{mg.dbConnection}}</td>
            <td>
                <ul class="list-unstyled">
                    <li ng-repeat="m in mg.mappings">
                        <button type="button" class="btn btn-default btn-xs" ng-click="deleteMapping('{{m.id}}')"><span class="glyphicon glyphicon-trash"></span></button>
                        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modalMapping" ng-click="editMapping(m, mg)"><span class="glyphicon glyphicon-edit"></span></button>
                        <span>{{m.name}}</span>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>