<h3 class="green bold">Import RDF Data</h3>

<div ng-controller="ImportFormCtrl">

	<form class="form-horizontal InputForm" role="form">
		<div class="form-group">
			<label for="source-type" class="col-sm-2 control-label">Import from a </label>
			<div class="col-sm-8">
	  		<select id="source-type" class="form-control" ng-model="sourceType" ng-options="c.label for c in sourceTypes" ng-change="updateForm()" required></select>
	  	</div>
	</div>
	</form>

	<!-- Import from file form -->
	<form ng-show="fileElements" class="form-horizontal InputForm" role="form" name="fileForm" novalidate>
		<div class="form-group">
	    <label for="inputFile" class="col-sm-2 control-label">File input</label>
	    	  <!-- <input type="file" ng-file-select="onFileSelect($files)" > -->
	    <div class="col-sm-8">
				<input type="file" ngf-select ng-model="importFile.files" accept=".nt,.n3,.ttl,.rdf" >
				<div class="error" ng-show="uploadedError()">File value is invalid or missed (for required fields)<span>{{uploadMessage}}</span></div>
			</div>
	  </div>

	  <target-graph></target-graph>

	  <div class="form-group">
	  	<div class="col-sm-2"></div>
	  	<div class="col-sm-8">
				<button class="btn btn-success" ng-click="import()" ng-disabled="isInvalid() || isImporting()">Import</button>
      	<span ng-show="isImporting()"> Importing ... </span>
      </div>
  	</div>
	</form>
  
	<!-- Import from URL form  -->
	
	<form ng-show="urlElements" class="form-horizontal InputForm" role="form" name="urlForm" novalidate>
		<div class="form-group">
	    <label for="inputUrl" class="col-sm-2 control-label">Url input</label>
	    <div class="input-group col-sm-8">
		  	<input type="text" id="inputUrl" name="inputUrl" class="form-control" ng-model="importRdf.source" regex-validate="url" ng-change="updateNewTargetInfo()" required>
				<div class="error" ng-show="urlForm.inputUrl.$dirty && urlForm.inputUrl.$invalid">Invalid:
          	<span ng-show="urlForm.inputUrl.$error.required">Specify a valid URL</span>
          	<span ng-show="urlForm.inputUrl.$error.regexValidate">This is not a valid URL.</span>
       	</div>
      </div>
	  </div>
	  <target-graph></target-graph>

	  <div class="form-group">
	  	<div class="col-sm-2"></div>
	  	<div class="input-group col-sm-8">
				<button class="btn btn-success" ng-click="import()" ng-disabled="urlForm.$invalid || isImporting()">Import</button>
      		<span ng-show="isImporting()"> Importing ...</span>
      </div>
		</div>
	</form>
	

	<!-- Import from URL sparql  -->
	<form ng-show="externalQueryElements" class="form-horizontal InputForm" role="form" name="endpointForm" novalidate>

		<div class="form-group">
	   	<label for="endPoint" class="col-xs-2 control-label">SPARQL EndPoint</label>
	   	<div class="input-group col-sm-8">
		 		<select id="endPoint" class="form-control" ng-model="importRdf.source" ng-options="c.endpoint as c.label for c in endpoints" ng-change="updateNewTargetInfo()" required></select>
     	</div>
	  </div>
		<div class="form-group">
	    <label for="sparqlQuery" class="col-xs-2 control-label">Query</label>
	    <div class="input-group col-sm-8">
		  	<textarea class="form-control" rows="3" id="sparqlQuery" name="sparqlQuery" ng-model="importEndpoint.sparqlQuery" required></textarea>
		  	<div class="error" ng-show="endpointForm.sparqlQuery.$dirty && endpointForm.sparqlQuery.$invalid">Invalid:
       		<span ng-show="endpointForm.sparqlQuery.$error.required">Specify the EndPoint</span>
      	</div>
      </div>
	  </div>

	  <target-graph></target-graph>

	  <div class="form-group">
			<div class="col-sm-2"></div>
	  	<div class="input-group col-sm-8">
      	<button class="btn btn-success" ng-click="import()" ng-disabled="endpointForm.$invalid || isImporting()">Import</button>
      	<span ng-show="isImporting()"> Importing ...</span>
     	</div>
    </div>
	</form>


	<!-- Import from LOCAL sparql  -->
	<form ng-show="localQueryElements" class="form-horizontal InputForm" role="form" name="localForm" novalidate>
		
		<source-graph source-changed="updateNewTargetInfo()"></source-graph>
		<target-graph></target-graph>

		<div class="form-group">
			<div class="col-sm-2"></div>
			<div class="input-group col-sm-8">
				<label>
			    <input type="radio" ng-model="importLocal.action" value="ADD">
			    Add All Triples 
			  </label><br/>
			  <label>
			    <input type="radio" ng-model="importLocal.action" value="COPY">
			    Clone All Graph (will delete content in target graph)
			  </label><br/>
			  <label>
			    <input type="radio" ng-model="importLocal.action" value="QUERY">
			    Add Triples using a query 
			  </label>
			</div>
		</div>
		<div class="form-group" ng-show="updateSparqlCopyQuery()" >
		  <label for="sparqlQuery" class="col-xs-2 control-label">Query</label>
	    <div class="input-group col-sm-8">
		  	<textarea class="form-control" rows="3" ng-model="importLocal.sparqlQuery" id="sparqlQuery" name="sparqlQuery" required ></textarea>
		  	<div class="error" ng-show="localForm.sparqlQuery.$dirty && localForm.sparqlQuery.$invalid">Invalid:
       		<span ng-show="localForm.sparqlQuery.$error.required">Specify the Query</span>
      	</div>
      </div> 
	  </div>
	  <div class="form-group">
			<div class="col-sm-2"></div>
	  	<div class="input-group col-sm-8">
      	<button class="btn btn-success" ng-click="import()" ng-disabled="localForm.$invalid || isImporting()">Import</button>
      	<span ng-show="isImporting()"> Importing ...</span>
     	</div>
    </div>
	</form>

</div>
