<div class="contents" ng-controller="TripleGeoCtrl">

    <component-header></component-header>

    <b>Utility for Converting Geospatial Data into Triples</b>
    <br>
    <br>
    <p>To get started choose whether to process a file or database, you can then choose an example or specify your own parameters.</p>

    <form class="form-inline InputForm col-xs-11" role="form" ng-show="inputForm" ng-model="tooltips">
        <button type="button" class="btn btn-link reset" onclick="document.location.reload()">
            <i class="glyphicon glyphicon-refresh" aria-hidden="false"></i>
        </button>
        <div class="row">
            <div class="col-xs-12">
                <h5 class="green bold">TripleGeo Configuration</h5>
            </div>
        </div>
        <br>
        <div id="TripleGeoOptions">
            <div class="row">
                <div class="col-xs-2">
                    <label for="Option">Data Source Type</label>
                </div>
                <div class="input-group input-group-sm col-xs-4">
                    <select id="Option" class="form-control" ng-model="datasource" ng-options="option for option in options.datasource" ng-change="updateExamples()">
                        <option value="">Choose data source format</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row" ng-show="datasource!=''">
                <div class="col-xs-2">
                    <label>Examples</label>
                </div>
                <div class="input-group input-group-sm col-xs-4">
                    <select id="Example" class="form-control" ng-model="example" ng-options="option for option in options.configExample" ng-change="FillForm();">
                        <option value="">Choose an example</option>
                    </select>
                </div>
            </div>
            <br>

            
            <br>
            <div class="row" ng-show="isFileJob()">
                <div class="col-xs-2">
                    <label class="control-label">Upload Files</label><i class="glyphicon glyphicon-warning-sign" style="margin-left:5px" data-toggle="tooltip" data-original-title="{{tooltips.files}}"></i>
                </div>
                <div class="col-xs-8">

            			<button ngf-select="uploadFiles($files, $invalidFiles)" multiple accept="*/*" ngf-max-height="1000" ngf-max-size="1MB">Select Files</button>
								  <ul ng-show="isUploading()">
								    <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$errorParam}}
								      <span class="progress" ng-show="f.progress >= 0">
								        <span style="width:{{f.progress}}%"  
								            ng-bind="f.progress + '%'"></span>
								      </span>
								    </li>
								    <li ng-repeat="f in errFiles" >{{f.name}} {{f.$error}} {{f.$errorParam}}
								    </li> 
								  </ul>
								  {{errorMsg}}
                </div>
            </div>
            <div ng-show="tripleGeoConfig!=null">
                <div class="row">
                    <div class="col-xs-12">
                      <label>Input and Output Parameters</label>
                    </div>
                </div>
                <br>

                <div class="row" ng-show="datasource!='Database'">
                    <div class="col-xs-3">
                        <label class="green bold">Input file (s)</label>
                    </div>
                    <div class="input-group input-group-sm col-xs-3">
                      {{tripleGeoConfig.inputFileName}}
                    </div>
                </div>

                <div class="row" ng-show="datasource==='Database'">
	                <div class="col-xs-3">
	                    <label class="green bold">Database</label>
	                </div>
	                <div class="col-xs-3">
	                    <select id="database" class="form-control input-sm" ng-model="Database" ng-options="database.label for database in databases" ng-change="setDatabase(Database.label);">
	                        <option value="">Choose a database</option>
	                    </select>
	                </div>
            		</div>
                <br>

                <div ng-show="commonParams()">
	                <div class="row" >
	                    <div class="col-xs-3">
	                        <label class="green bold">Target Store Type</label>
	                    </div>
	                    <div class="input-group input-group-sm col-xs-2">
												 <select class="form-control" id="targetStore" ng-options="option for option in options.targetStore" ng-model="tripleGeoConfig.targetStore"></select>
											</div>
	                </div>
	                <br>
	                
	                <div class="row">
                    <div class="col-xs-3">
                        <label class="green bold">Resouce Prefix/Namespace</label>
                    </div>
                    <div class="col-xs-5">
                    	<span>{{tripleGeoConfig.nsPrefix}} : {{tripleGeoConfig.nsURI}}</span>
                  	</div>
		              </div>
								<br>
	                <div class="row">
                    <div class="col-xs-3">
                        <label class="green bold">Ontology Prefix/Namespace</label>
                    </div>
                    <div class="input-group-sm col-xs-2">
                        <input class="form-control" ng-model="tripleGeoConfig.ontologyNSPrefix" />
                    </div>
                    <div class="input-group input-group-sm col-xs-5">
                        <input class="form-control" ng-model="tripleGeoConfig.ontologyNS" />
              			</div>
		              </div>
		              <br>
									<div class="row">
	                    <div class="col-xs-3">
	                      <label class="green bold">Language</label>
	                    </div>
	                    <div class="input-group input-group-sm col-xs-3">
	                        <input class="form-control" ng-model="tripleGeoConfig.defaultLang"></input>
	                    </div>
	                </div>
                </div>
                <br>

                <div ng-show="options.dataParams">
                  <div class="row">
                    <div class="col-xs-12">
                      <label>Data Parameters</label><i class="glyphicon glyphicon-question-sign" style="margin-left:5px" data-toggle="tooltip" data-original-title="{{tooltips.data}}"></i>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-2">
                        <label class="green bold">Feature String</label>
                    </div>
                    <div class="input-group-sm col-xs-4">
                      <input class="form-control" ng-model="tripleGeoConfig.featureString"></input>
                    </div>
                    <div class="col-xs-2">
                        <label class="green bold">Attribute</label>
                    </div>
                    <div class="input-group-sm col-xs-4">
                      <input class="form-control" ng-model="tripleGeoConfig.attribute"></input>
                    </div>
                  </div>
                  <br>
                    <div class="row">
                        <div class="col-xs-2">
                            <label class="green bold">Ignore</label>
                        </div>
                        <div class="input-group-sm col-xs-4">
                            <input class="form-control" ng-model="tripleGeoConfig.ignore"></input>
                        </div>
                        <div class="col-xs-2">
                            <label class="green bold">Type</label>
                        </div>
                        <div class="input-group-sm col-xs-4">
                          <input class="form-control" ng-model="tripleGeoConfig.type"></input>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-2">
                            <label class="green bold">Name</label>
                        </div>
                        <div class="input-group-sm col-xs-4">
                            <input class="form-control" ng-model="tripleGeoConfig.name"></input>
                        </div>
                        <div class="col-xs-2">
                            <label class="green bold">Class</label>
                        </div>
                        <div class="input-group-sm col-xs-4">
                            <input class="form-control" ng-model="tripleGeoConfig.dclass"></input>
                        </div>
                    </div>
                    <br>

                </div>
                <div ng-show="options.dbParams">
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Database Parameters</label><i class="glyphicon glyphicon-question-sign" style="margin-left:5px" data-toggle="tooltip" data-original-title="{{tooltips.data}}"></i>
                        </div>
                    </div>
                    <br>
                    <div ng-show="dbLogin">
                        <div class="row">
                            <div class="col-xs-2">
                                <label class="green bold">Database Type</label>
                            </div>
                            <div class="input-group-sm col-xs-4">
                                <select class="form-control" ng-options="option for option in options.dbtype" ng-model="tripleGeoConfig.dbtype" id="dbtype"></select>
                            </div>
                            <div class="col-xs-2">
                                <label class="green bold">Database Name</label>
                            </div>
                            <div class="input-group-sm col-xs-4">
                                <input class="form-control" ng-model="tripleGeoConfig.dbName"></input>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-2">
                                <label class="green bold">Database User Name</label>
                            </div>
                            <div class="input-group-sm col-xs-4">
                                <input class="form-control" ng-model="tripleGeoConfig.dbUserName"></input>
                            </div>
                            <div class="col-xs-2">
                                <label class="green bold">Database Password</label>
                            </div>
                            <div class="input-group-sm col-xs-4">
                                <input class="form-control" ng-model="tripleGeoConfig.dbPassword"></input>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-2">
                                <label class="green bold">Database Host</label>
                            </div>
                            <div class="input-group-sm col-xs-4">
                                <input class="form-control" ng-model="tripleGeoConfig.dbHost"></input>
                            </div>
                            <div class="col-xs-2">
                                <label class="green bold">Database Port</label>
                            </div>
                            <div class="input-group-sm col-xs-4">
                                <input class="form-control" ng-model="tripleGeoConfig.dbPort"></input>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <label class="green bold">Resource Name</label>
                        </div>
                        <div class="input-group-sm col-xs-4">
                            <input class="form-control" ng-model="tripleGeoConfig.resourceName"></input>
                        </div>
                        <div class="col-xs-2">
                            <label class="green bold">Table Name</label>
                        </div>
                        <div class="input-group-sm col-xs-4">
                            <input class="form-control" ng-model="tripleGeoConfig.tableName"></input>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-2">
                            <label class="green bold">Condition</label>
                        </div>
                        <div class="input-group-sm col-xs-4">
                            <input class="form-control" ng-model="tripleGeoConfig.condition"></input>
                        </div>
                        <div class="col-xs-2">
                            <label class="green bold">Label Column Name</label>
                        </div>
                        <div class="input-group-sm col-xs-4">
                            <input class="form-control" ng-model="tripleGeoConfig.labelColumnName"></input>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-2">
                            <label class="green bold">Name Column Name</label>
                        </div>
                        <div class="input-group-sm col-xs-4">
                            <input class="form-control" ng-model="tripleGeoConfig.nameColumnName"></input>
                        </div>
                        <div class="col-xs-2">
                            <label class="green bold">Class Column Name</label>
                        </div>
                        <div class="input-group-sm col-xs-4">
                            <input class="form-control" ng-model="tripleGeoConfig.classColumnName"></input>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-2">
                            <label class="green bold">Geometry Column Name</label>
                        </div>
                        <div class="input-group-sm col-xs-4">
                            <input class="form-control" ng-model="tripleGeoConfig.geometryColumnName"></input>
                        </div>
                        <div class="col-xs-2">
                            <label class="green bold">Ignore</label>
                        </div>
                        <div class="input-group-sm col-xs-4">
                            <input class="form-control" ng-model="tripleGeoConfig.ignore"></input>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>


                <div class="row">
                    <div class="col-xs-12">
                        <label>Spatial Reference Parameters</label><i class="glyphicon glyphicon-question-sign" style="margin-left:5px" data-toggle="tooltip" data-original-title="{{tooltips.spatial}}"></i>
                    </div>
                </div>
                <br>
                <div class="row" ng-show="commonParams()">
                    <div class="col-xs-2">
                        <label class="green bold">Source</label>
                    </div>
                    <div class="input-group-sm col-xs-2">
                        <input class="form-control" ng-model="tripleGeoConfig.sourceRS"></input>
                    </div>
                    <div class="col-xs-2">
                        <label class="green bold">Target</label>
                    </div>
                    <div class="input-group-sm col-xs-2">
                        <input class="form-control" ng-model="tripleGeoConfig.targetRS"></input>
                    </div>
                </div>
                <br>
                
            </div> <!-- form-->
						<br>
            <div class="row" ng-show="actionButtons">  
              <div class="col-xs-2">
                <a class="btn btn-sm btn-success btn-block" ng-click="CreateJob()">Create Job</a></div>
            </div>
        </div>
    </form>