
<div class="col-xs-12" ng-controller="FagiGisCtrl">
  
  <component-header></component-header>

  <form class="form-horizontal InputForm" role="form" name="fagiForm"  novalidate>

    <div class="row">
      <div class="col-xs-6">
        <h5 class="green bold">Dataset A</h5>
      </div>
      <div class="col-xs-6">
        <h5 class="green bold">Dataset B</h5>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-xs-2">
        <label for="SourceServiceURI">Endpoint URL</label>
      </div>
      <div class="col-xs-4">
        <select id="SourceServiceURI" class="form-control" ng-model="fagi.endpointA" 
          ng-change="updateGraphsA()" ng-options="c.endpoint as c.label for c in endpoints" required >
        </select>
      </div>
      <div class="col-xs-2">
        <label for="TargetServiceURI">Endpoint URL</label>
      </div>
      <div class="col-xs-4">
        <select id="TargetServiceURI" class="form-control" ng-model="fagi.endpointB" 
          ng-change="updateGraphsB()" ng-options="c.endpoint as c.label for c in endpoints" required >
        </select>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-xs-2">
        <label for="DatasetA">Graph</label>
      </div>
      <div class="col-xs-4">
        <select id="DatasetA" class="form-control" ng-model="fagi.datasetA" ng-options="namedgraph.name as describeGraph(namedgraph) for namedgraph in namedGraphsA" ng-change="updateServiceParams();">
        </select>
      </div>
      <div class="col-xs-2">
        <label for="DatasetB">Graph</label>
      </div>
      <div class="col-xs-4">
        <select id="DatasetB" class="form-control" ng-model="fagi.datasetB" ng-options="namedgraph.name as describeGraph(namedgraph) for namedgraph in namedGraphsB" ng-change="updateServiceParams();">
        </select>
      </div>
    </div>
    <br/>

<!--      <div class="row">
      <div class="col-xs-2">
        <label for="Database">Database</label>
      </div>
      <div class="col-xs-8">
        <select id="Database" class="form-control input-sm" ng-model="fagi.database" ng-options="database.label for database in databases" required ng-change="updateServiceParams();"> 
          <option value="">Choose a database</option>
        </select>
      </div>
    </div>
    <br/> 
 -->
    <div class="row">
      <div class="col-xs-2">
        <label for="Endpoint">Target Endpoint</label>  
      </div>
      <div class="col-xs-8">
        <input type="url" class="form-control" id="Endpoint" disabled="disabled" ng-model="endpoint" required></input>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-xs-2">
        <label for="DataSet">Target DataSet</label>
      </div>
      <div class="col-xs-8">
        <select id="DataSet" class="form-control" ng-model="fagi.targetGraph" ng-options="namedgraph.name as namedgraph.name for namedgraph in namedGraphs" required ng-change="updateServiceParams();">
        </select>
      </div>
      <div class="col-xs-2">
        <a class="btn btn-default btn-large" ng-click="createTargetGraph();" >Create New Dataset</a>
      </div>
    </div>
    <br/>
    
    <div class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
        <a class="btn btn-success btn-large" ng-disabled="fagiForm.$invalid" ng-click="openService();">Launch Service</a>
      </div>      
    </div>
    <br/>

    </div>

  </form>


 </div>
</div>

