<div class="contents" ng-controller="LimesCtrl">
  <h3 class="green bold">{{component.label}} <span ng-show="component.offline" class="glyphicon glyphicon-warning-sign btn-sm red"></span></h3>
  <dl class="dl-horizontal">
    <dt>Version:</dt>
    <dd>{{component.version}}</dd>
    <dt>Homepage:</dt>
    <dd>{{component.homepage}}</dd>
  </dl>
  <p>Link Discovery Framework for Metric Spaces</p>
  <p>To get started either upload a configuration file, choose an example, or fill in the options form.</p>
  <form class="form-inline InputForm col-xs-11" role="form" ng-show="inputForm">
    <button type="button" class="btn btn-link reset" onclick="document.location.reload()">
    <i class="glyphicon glyphicon-refresh" aria-hidden="false"></i>
    </button>
    <div class="row">
      <div class="col-xs-12">
        <h5 class="green bold">LIMES Configuration</h5>
      </div>
    </div>
    <br>
    <div ng-show="configOptions">
      <div class="row" ng-controller="ImportFormCtrl">
        <label for="inputFile" class="col-xs-2 control-label">Upload a LIMES Configuration File (XML)</label>
        <div class="col-xs-8">
          <input id="lefile" class="form-control input-sm" type="file" ng-file-select="loadLimesXML($files)" 
            multiple name="fileName" accept=".xml" style="display:none">
          <div class="error" ng-show="uploadedError()">Invalid:
            <span>{{uploadMessage}}</span>
          </div>
          <div class="input-append">
            <input id="dummyInput" class="input-sm pull-left col-xs-9" type="text" onclick="$('input[id=lefile]').click();">
            <a class="btn btn-sm btn-success btn-large pull-left col-xs-3" onclick="$('input[id=lefile]').click();">Browse</a>
          </div>
        </div>
      </div>
      <div class="row">
        <script type="text/javascript">
          $('input[id=lefile]').change(function() {
          $('#dummyInput').val($(this).val());
          });
           
        </script>
        <div class="error" ng-show="uploadedError()">Invalid:
          <span>{{uploadMessage}}</span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-2">
          <label for="Example">Examples</label>
        </div>
        <div class="col-xs-8">
          <select id="Example" class="form-control input-sm" ng-model="Example" 
            ng-options="example.description for example in examples" ng-change="FillForm(Example.file)">
            <option value="">Choose an example</option>
          </select>
        </div>
      </div>
      <br>

    </div>
    <div id="limesOptions">
      <div class="row">
        <div class="col-xs-12">
          <h5 class="green bold">LIMES Configuration</h5>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-6">
          <h5 class="green bold">Source Dataset</h5>
        </div>
        <div class="col-xs-6">
          <h5 class="green bold">Target Dataset</h5>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-2">
          <label for="SourceServiceURI">Endpoint URL</label>
        </div>
        <div class="col-xs-4">
          <!-- <input class="form-control input-sm" id="SourceServiceURI" ng-model="limes.SourceServiceURI"></input> -->
          <select id="SourceServiceURI" class="form-control" ng-model="limes.source.endpoint" 
            ng-change="updateSourceGraphs()" ng-options="c.endpoint as c.label for c in endpoints" required>
          </select>
        </div>
        <div class="col-xs-2">
          <label for="TargetServiceURI">Endpoint URL</label>
        </div>
        <div class="col-xs-4">
          <!-- <input class="form-control input-sm" id="TargetServiceURI" ng-model="limes.TargetServiceURI"></input> -->
          <select id="TargetServiceURI" class="form-control" ng-model="limes.target.endpoint" 
            ng-change="updateTargetGraphs()" ng-options="c.endpoint as c.label for c in endpoints" required>
          </select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-2">
          <label for="SourceServiceURI">Graph</label>
        </div>
        <div class="col-xs-4">
          <select id="SourceGraph" class="form-control" ng-model="limes.source.graph" ng-options="namedgraph.name as namedgraph.name for namedgraph in namedSourceGraphs" required>
          </select>
        </div>
        <div class="col-xs-2">
          <label for="TargetGraph">Graph</label>
        </div>
        <div class="col-xs-4">
          <select id="TargetGraph" class="form-control" ng-model="limes.target.graph" ng-options="namedgraph.name as namedgraph.name for namedgraph in namedTargetGraphs" required>
          </select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-2">
          <label for="SourceVar">Variable</label>
        </div>
        <div class="col-xs-4">
          <input class="form-control input-sm" id="SourceVar" ng-model="limes.source.var"></input>
        </div>
        <div class="col-xs-2">
          <label for="TargetVar">Variable</label>
        </div>
        <div class="col-xs-4">
          <input class="form-control input-sm" id="TargetVar" ng-model="limes.target.var"></input>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-2">
          <label for="SourceSize">Pagesize</label>
        </div>
        <div class="col-xs-4">
          <input class="form-control input-sm" id="SourceSize" ng-model="limes.source.pagesize"></input>
        </div>
        <div class="col-xs-2">
          <label for="TargetSize">Pagesize</label>
        </div>
        <div class="col-xs-4">
          <input class="form-control input-sm" id="TargetSize" ng-model="limes.target.pagesize"></input>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-2">
          <label for="SourceRestr">Restriction</label>
        </div>
        <div class="col-xs-4">
          <textarea class="form-control input-sm" id="SourceRestr" ng-model="limes.source.restriction"></textarea>
        </div>
        <div class="col-xs-2">
          <label for="TargetRestr">Restriction</label>
        </div>
        <div class="col-xs-4">
          <textarea class="form-control input-sm" id="TargetRestr" ng-model="limes.target.restriction"></textarea>
        </div>
      </div>
      <br>
   		<div class="row">
        <div class="col-xs-2">
          <label>Property</label>
        </div>
        <div class="col-xs-4">
        	<div ng-repeat="p in limes.source.property track by $index">
          	<input class="form-control input-sm" value="{{p}}"></input>
          </div>
        </div>

        <div class="col-xs-2">
          <label>Property</label>
        </div>
        <div class="col-xs-4">
        	<div ng-repeat="p in limes.target.property track by $index">
          	<input class="form-control input-sm" value="{{p}}"></input>
          </div>
        </div>
      </div>
      <div class="row">
      	<div class="col-xs-2"></div>
        <div class="col-xs-4">
        	<span class="glyphicon glyphicon-plus plusbutton" ng-click="limes.source.property.push('')" ></span>
					<span class="glyphicon glyphicon-minus removebutton" ng-click="limes.source.property.splice((item.property.length-1) , 1)" ng-show="limes.source.property.length>1"></span>	
        </div>
      	<div class="col-xs-2"></div>
        <div class="col-xs-4">
        	<span class="glyphicon glyphicon-plus plusbutton" ng-click="limes.target.property.push('')"></span>
					<span class="glyphicon glyphicon-minus removebutton" ng-click="limes.target.property.splice((item.property.length-1) , 1)" ng-show="limes.target.property.length>1"></span>	
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-2">
          <label for="Metric">Metric</label>
        </div>
        <div class="col-xs-10">
          <input class="form-control input-sm" ng-model="limes.metric"></input>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-2">
          <label for="OutputFormat">Output Format</label>
        </div>
        <div class="col-xs-10">
          <select class="form-control input-sm" ng-model="limes.output"
            ng-options="option for option in options.output"></select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-2">
          <label for="ExecType">Execution (Optional)</label>
        </div>
        <div class="col-xs-10">
          <select class="form-control input-sm" ng-model="limes.execution"
            ng-options="option for option in options.execType"></select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-2">
          <label for="Granularity">Granularity (Optional)</label>
        </div>
        <div class="col-xs-10">
          <select class="form-control input-sm" ng-model="limes.granularity"
            ng-options="option for option in options.granularity"></select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-6">
          <h5 class="green bold">Acceptance Settings</h5>
        </div>
        <div class="col-xs-6">
          <h5 class="green bold">Review Settings</h5>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-2">
          <label for="AcceptThresh">Threshold</label>
        </div>
        <div class="col-xs-4">
          <input class="form-control input-sm" id="AcceptThresh" ng-model="limes.acceptance.threshold"></input>
        </div>
        <div class="col-xs-2">
        </div>
        <div class="col-xs-4">
          <input class="form-control input-sm" id="ReviewThresh" ng-model="limes.review.threshold"/>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-2">
          <label for="AcceptRelation">Relation</label>
        </div>
        <div class="col-xs-4">
          <input class="form-control input-sm" id="AcceptRelation" ng-model="limes.acceptance.relation"></input>
        </div>
        <div class="col-xs-2">
        </div>
        <div class="col-xs-4">
          <input class="form-control input-sm" id="ReviewRelation" ng-model="limes.review.relation"/>
        </div>
      </div>
      <br>
    </div>
    <div class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
        <a class="btn btn-sm btn-success btn-block" id="startLimes" ng-click="LaunchLimes()">Start LIMES</a>
      </div>
    </div>
  </form>
</div>