/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin geoknow {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /* Insert your theme rules here */

.v-app {
    background-color: white;
    font-family:'Droid Sans', Arial, sans-serif; font-weight:normal; font-style:normal;
    line-height:1.5;
    font-size:0.875em;
}

body{
	font-family: 'Droid Sans','Helvetica','Arial', sans-serif;
}

/* Set heights of the components to fill the browser */

.v-ui{
	background: white;
	height:100%;
}

.mainContainer{
	background: white;
	height:100%;
}

.v-verticallayout-workspace{
	height:100%;
}

.v-slot-logo{
	margin-top:10px;
}

.v-link-logo{
	margin-left:10px;
}

.v-slot-workspace{
	height:100%;
}

.v-slot-content{
	height:100%;
}

.v-customcomponent-content{
	height:100%;
}

.v-generated-body {
	background: white;
}

.v-table-cell-wrapper {
    white-space: normal;
}

.slagzin {
    font-family:'Droid Sans', Arial, sans-serif; 
    font-weight:normal;
    font-style:normal;
	font-size:0.875em; 
    line-height:1.5;
    z-index: 100;
    color:#551A8B;
}

.currentgraphlabel {
    font-size: 11px;
    margin-right: 5px;
}

.v-embedded-lod2logo {
    z-index: 1;
}

.logo .v-icon {
   height: 75px;
}

.slagzin_image {
    font-family:'Droid Sans', Arial, sans-serif; font-weight:normal; font-style:normal;
	font-size:1.4em;
    line-height:1.5;
    background: url("/GeoKnow/VAADIN/themes/geoknow/app_images/geoknow-logo.png");
}


.eugif {
   height: 50px
}

.v-icon {
	height: 75px
}

.v-textarea-readonly {
	width: 1200px
}

.second {
	height: 100%;
}

.v-customcomponent-second {
	height: 300px;
}

.minheight {
	min-height: 500px;
}

.v-embedded-browser {
	height: 100%
}

/*
 * the next rules illustrate how to adapt the visualisation of the menu bar
 */
/*
.v-menubar { 
	background: none;
	border-color: #B5B6B7;
	border: dotted;
    	font-family:"Droid Sans", Arial, sans-serif; 
	font-color: black;
	color:#B5B6B7;
}

.v-menubar-menuitem { 
	background-color: white;
    	font-family:"Droid Sans", Arial, sans-serif; 
	font-color: black;
}
.v-menubar-menuitem-caption { 
    	font-family:"Droid Sans", Arial, sans-serif; 
	color: black;
}

.v-menubar-menuitem:hover { 
	background-color: red;
    	font-family:"Droid Sans", Arial, sans-serif; 
	font-color: black;
}

.gwt-MenuItem {
	background-color: transparent;
    	font-family:"Droid Sans", Arial, sans-serif; 
}

.gwt-MenuItem-selected {
	background-color: blue;
}
*/

/* from the mockup */
.v-menubar .v-menubar-menuitem {
    height: 17px;
    line-height: 16px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
	color: #BC1B8B;
	font-weight:bold;
}

.menubarContainer {
    
}

.v-slot-menubarContainer{
	border-bottom: 1px solid #84BB41;
    border-top: 1px solid #84BB41;
	margin: 10px 37px 10px 37px;
}

.v-menubar {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #FFFFFF;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    text-shadow: none;
}
.v-menubar-menuitem:hover {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    color: #84BB41;
}

.v-menubar .v-menubar-menuitem:hover {
    color: #84BB41;
}

.v-menubar-menuitem-caption { 
    	font-family:"Droid Sans", sans-serif; 
	font-size: 12px;
}
  
}
