<div ng-controller="D2RQTaskCtrl">
    <br/>

    <button type="button" class="btn btn-success btn-large" data-toggle="modal" data-target="#modalTask" ng-click="new();">Add new task</button>

    <div class="modal fade" id="modalTask">
        <form name="taskForm" class="form-horizontal InputForm" role="form" novalidate>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title green bold">Add task</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="name" name="name" ng-model="task.name" required/>
                        <div class="error" ng-show="taskForm.name.$dirty && taskForm.name.$invalid">Invalid:
                            <span ng-show="taskForm.name.$error.required">Specify name</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Mapping</label>
                    <div class="col-lg-10">
                        <select id="mapping" class="form-control" ng-model="task.mapping" ng-options="mapping as mapping.name for mapping in mappings" required></select>
                        <div class="error" ng-show="taskForm.mapping.$dirty && taskForm.mapping.$invalid">Invalid:
                            <span ng-show="taskForm.mapping.$error.required">Select mapping</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Named graph</label>
                    <div class="col-lg-10">
                        <select id="graph" class="form-control" ng-model="task.namedgraph" ng-options="ng as ng.name for ng in namedgraphs" required></select>
                        <div class="error" ng-show="taskForm.graph.$dirty && taskForm.graph.$invalid">Invalid:
                            <span ng-show="taskForm.graph.$error.required">Select named graph</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-sm btn-success" ng-click="add();" ng-disabled="taskForm.$invalid || isAdding()">Add</button>
                    <button type="button" class="btn-sm btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>

    <h4>
        <span class="btn-group">
            <button type="button" class="btn btn-link reset" ng-click="refreshTasks()">
                <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i>
            </button>
        </span>
        Tasks
    </h4>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Action</th>
            <th>Name</th>
            <th>Mapping</th>
            <th>Dataset</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in tasks">
            <td>
                <button type="button" class="btn btn-default btn-xs" ng-click="delete('{{task.id}}')"><span class="glyphicon glyphicon-trash"></span></button>
                <button type="button" class="btn btn-default btn-xs" ng-click="execute('{{task.id}}')"><span class="glyphicon glyphicon-play-circle"></span></button>
            </td>
            <td>{{task.name}}</td>
            <td>{{task.compositeMappingName}}</td>
            <td>{{task.httpEndpoint}}, <br/> {{task.graph}}</td>
            <td>{{task.status}}</td>
        </tr>
        </tbody>
    </table>
</div>