<h3 class="green bold">Import RDF Data</h3>


<!-- Subscribe to all flash messages. -->
<div flash-alert active-class="in" class="alert fade" duration="10000">
	<button type="button" class="close" ng-click="hide()">&times;</button>
  <span class="alert-message">{{flash.message}}</span>
</div>

<div ng-controller="ImportFormCtrl">

	<form class="form-horizontal col-xs-11" role="form">
	<div class="form-group">
		<label for="source-type" class="col-xs-2 control-label">Import from a </label>
		<div class="col-xs-10">
      <select id="source-type" class="form-control" ng-model="sourceType" 
      				ng-options="c.label for c in sourceTypes" ng-change="updateForm()" required>
      </select>
		</div>
	</div>
	</form>

	<!-- Import from file form -->
	<div ng-show="fileElements" class="animate-show">
		<form class="form-horizontal InputForm col-xs-11" role="form" name="fileForm" novalidate>
			<div class="form-group">
				<label for="graph" class="col-xs-2 control-label">To a dataset </label>
				<div class="col-xs-10">
		      <select id="graph" name= "graph" class="form-control" ng-model="importFile.graph"
		      				ng-options="c.name as c.graph.label for c in namedGraphs" required>
		      </select>
		    </div>
	  	</div>
			<div class="form-group">
	    	<label for="inputFile" class="col-xs-2 control-label">File input</label>
	    	<div class="col-xs-10">
				  <!-- <input type="file" ng-file-select="onFileSelect($files)" > -->
				  <input type="file" ng-file-select="onFileSelect($files)" multiple name="fileName" accept=".nt, .n3, .ttl, .rdf">
				  <div class="error" ng-show="uploadedError()">Invalid:
          	<span>{{uploadMessage}}</span>
        	</div>
	  		</div>
	  	</div>
	  	<div class="form-group">
    		<div class="col-lg-offset-2 col-xs-10">
      		<button class="btn btn-success" ng-click="import()" ng-disabled="isInvalid()||isImporting()">Import</button>
      		<span ng-show="isImporting()"> Importing ...</span>
    		</div>
  	</div>
	  </form>
  </div>

	<!-- Import from URL form  -->
	<div ng-show="urlElements" class="animate-show">
		<form class="form-horizontal InputForm col-xs-11" role="form" name="urlForm" novalidate>
			<div class="form-group">
				<label for="graph" class="col-xs-2 control-label">To a dataset </label>
				<div class="col-xs-10">
		      <select id="graph" class="form-control" ng-model="importUrl.graph"
		      				ng-options="c.name as c.graph.label for c in namedGraphs" required>
		      </select>
		    </div>
	  	</div>
			<div class="form-group">
	    	<label for="inputUrl" class="col-xs-2 control-label">Url input</label>
		    <div class="col-xs-10">
			    <input type="text" id="inputUrl" name="inputUrl" class="form-control" ng-model="importUrl.inputUrl" regex-validate="url" required>
			    <div class="error" ng-show="urlForm.inputUrl.$dirty && urlForm.inputUrl.$invalid">Invalid:
          	<span ng-show="urlForm.inputUrl.$error.required">Specify a valid URL</span>
          	<span ng-show="urlForm.inputUrl.$error.regexValidate">This is not a valid URL.</span>
        	</div>
	  		</div>
	  	</div>
	  	<div class="form-group">
    		<div class="col-lg-offset-2 col-xs-10">
      		<button class="btn btn-success" ng-click="import()" ng-disabled="urlForm.$invalid || isUnchanged(importUrl) || isImporting()">Import</button>
      		<span ng-show="isImporting()"> Importing ...</span>
    		</div>
  		</div>
		</form>
	</div>

	<!-- Import from URL sparql  -->
	<div ng-show="queryElements" class="animate-show">
		<form class="form-horizontal InputForm col-xs-11" role="form" name="sparqlForm" novalidate>
			<div class="form-group">
				<label for="graph" class="col-xs-2 control-label">To a dataset </label>
				<div class="col-xs-10">
		      <select id="graph" class="form-control" ng-model="importSparql.graph"
		      				ng-options="c.name as c.graph.label for c in namedGraphs" required>
		      </select>
		    </div>
	  	</div>
			<div class="form-group">
	    	<label for="endPoint" class="col-xs-2 control-label">SPARQL EndPoint</label>
		    <div class="col-xs-10">
			    <input type="text" id="endPoint" class="form-control" name="endPoint" ng-model="importSparql.endPoint" regex-validate="sparqlEndpoint" required>
			    <div class="error"  ng-show="sparqlForm.endPoint.$dirty && sparqlForm.endPoint.$invalid">Invalid:
          	<span ng-show="sparqlForm.endPoint.$error.required">Specify the EndPoint</span>
          	<span ng-show="sparqlForm.endPoint.$error.regexValidate">This is not a valid endPoint</span>
        	</div>
	  		</div>
	  	</div>
			<div class="form-group">
	    	<label for="sparqlQuery" class="col-xs-2 control-label">Query</label>
		    <div class="col-xs-10">
		    	<textarea class="form-control" rows="3" id="sparqlQuery" name="sparqlQuery" ng-model="importSparql.sparqlQuery" required>{{scope.importSparql.sparqlQuery}}</textarea>
		    	<div class="error" ng-show="sparqlForm.sparqlQuery.$dirty && sparqlForm.sparqlQuery.$invalid">Invalid:
          	<span ng-show="sparqlForm.sparqlQuery.$error.required">Specify the EndPoint</span>
        	</div>
	  		</div>
	  	</div>
	  	<div class="form-group">
    		<div class="col-lg-offset-2 col-xs-10">
      		<button class="btn btn-success" ng-click="import()" ng-disabled="sparqlForm.$invalid || isUnchanged(importSparql) || isImporting()">Import</button>
      		<span ng-show="isImporting()"> Importing ...</span>
    		</div>
  		</div>	
	  </form>
	</div>


</div>
