<div class="contents" ng-controller="GeoliftCtrl">
	<h3 class="green bold">TripleGeo</h3>
	<b>Utility for converting geospatial data into triples</b>
	<br>
	<br>
	<p>To get started either upload a configuration file or fill in the configuration options.</p>
	
<form class="form-inline InputForm col-xs-11" role="form" ng-show="inputForm">
	<div id="geoliftOptions" ng-model="geolift.Options">
	<div class="row">
		<div class="col-xs-12">
		<h5 class="green bold">GeoLift Configuration</h5>
		</div>
	</div>
	<br>
	<div class="row" ng-controller="ImportFormCtrl">
			<label for="inputFile" class="col-xs-2 control-label">Upload a File</label>
		    	<div class="col-xs-6">
					  <!-- <input type="file" class="form-control" ng-file-select="onFileSelect($files)" > -->
					    <input id="lefile" class="form-control input-sm" type="file" ng-file-select="onFileSelect($files)" 
					    		multiple name="fileName" accept=".xml" style="display:none">
					  	<div class="error" ng-show="uploadedError()">Invalid:
					  	<span>{{uploadMessage}}</span></div>
						<div class="input-append">
						<input id="dummyInput" class="input-sm pull-left col-xs-9" type="text" onclick="$('input[id=lefile]').click();">
						<a class="btn btn-sm btn-success btn-large pull-left col-xs-3" onclick="$('input[id=lefile]').click();">Browse</a>
						</div>
			    </div>
    </div>
    <br><br>
	<div class="row">
			<div class="col-xs-2">
				<label for="showConfig">Add Enriching Options</label>
		    </div>
		    <div class="col-xs-2">
				<a class="btn btn-sm btn-success btn-block" ng-click="appendInput(0)">Dereferencing</a>
	  		</div>
	  		<div class="col-xs-2">
				<a class="btn btn-sm btn-success btn-block" ng-click="appendInput(1)">NLP</a>
	  		</div>
	  		<div class="col-xs-2">
				<a class="btn btn-sm btn-success btn-block" ng-click="appendInput(2)">Linking</a>
	  		</div>
	</div>
	<br>
	<form class="form-inline col-xs-11" role="form">
	<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-6" id="dereferencing"></div>
			<div class="col-xs-6" id="nlp"></div>
			<div class="col-xs-6" id="linking"></div>
	</div>
	</form>
	</div>
</form>