<div ng-controller="UploadDocCtrl">
    <!-- Subscribe to all flash messages. -->
    <div flash-alert active-class="in alert" class="fade" duration="0">
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message">{{flash.message}}</span>
    </div>

    <h3 class="green bold">Upload new Files</h3>
    <form name="documentForm" class="form-horizontal InputForm" role="form" novalidate>
        <div class="form-group">
            <label class="col-lg-4 control-label">ACC Project Names</label>
            <div class="col-lg-3">
                <select class="form-control" ng-model="document.projectName1" ng-options="p for p in projects" required></select>
            </div>
            <div class="col-lg-3">
                <select class="form-control" ng-model="document.projectName2" ng-options="p for p in projects" required></select>
            </div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-default btn-xs" ng-click="showProjectTextField=true;"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
        </div>
        <div class="form-group">
            <label for="number" class="col-lg-4 control-label">ACC document number</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" id="number" name="number" ng-model="document.accDocumentNumber" placeholder="Fill the name, e.g., D100" required regex-validate="docNumber" />
                <div class="error" ng-show="documentForm.number.$dirty && documentForm.number.$invalid">Invalid:
                    <span ng-show="documentForm.number.$error.required || documentForm.number.$error.regexValidate">Specify valid ACC document number</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="iteration" class="col-lg-4 control-label">ACC document iteration</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" id="iteration" name="iteration" ng-model="document.accDocumentIteration" placeholder="Fill the iteration, e.g., T1" required regex-validate="docIteration" />
                <div class="error" ng-show="documentForm.iteration.$dirty && documentForm.iteration.$invalid">Invalid:
                    <span ng-show="documentForm.iteration.$error.required || documentForm.iteration.$error.regexValidate">Specify valid ACC document iteration</span>
                </div>
            </div>
        </div>
        <div class="form-group" ng-show="showProjectTextField">
            <div class="col-lg-offset-4 row">
                <div class="col-lg-8">
                    <input type="text" class="form-control" ng-model="newProjectName" placeholder="New project name, e.g., a402632"/>
                </div>
                <div class="col-lg-4">
                    <button type="button" class="btn btn-default btn-xs" ng-click="addNewProject()"><span class="glyphicon glyphicon-ok"></span></button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="received" class="col-lg-4 control-label">Date Document Received</label>
            <div class="col-lg-8">
                <input type="date" class="form-control" id="received" name="received" ng-model="document.dateReceived" required />
                <div class="error" ng-show="documentForm.received.$dirty && documentForm.received.$invalid">Invalid:
                    <span ng-show="documentForm.received.$error.required">Specify received date</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 control-label">Owner Name</label>
            <div class="col-lg-8 row">
                <div class="col-lg-9">
                    <select id="owner" class="form-control" ng-model="document.ownerName" ng-options="o for o in owners" required></select>
                </div>
                <div class="col-lg-3">
                    <button type="button" class="btn btn-default btn-xs" ng-click="showOwnerTextField=true;"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
            </div>
        </div>
        <div class="form-group" ng-show="showOwnerTextField">
            <div class="col-lg-offset-4 row">
                <div class="col-lg-8">
                    <input type="text" class="form-control" ng-model="newOwnerName" placeholder="New owner name, e.g., SIEMENS"/>
                </div>
                <div class="col-lg-4">
                    <button type="button" class="btn btn-default btn-xs" ng-click="addNewOwner()"><span class="glyphicon glyphicon-ok"></span></button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-lg-4 control-label">Short Description</label>
            <div class="col-lg-8">
                <textarea class="form-control" id="description" name="description" rows="5" ng-model="document.accDescription" placeholder="Fill a short description"></textarea>
            </div>
        </div>
        <!--div class="form-group">
            <label for="applicable" class="col-lg-4 control-label">Document Applicable</label>
            <div class="col-lg-8">
                <input type="checkbox" id="applicable" name="applicable" ng-model="document.isApplicable" />
            </div>
        </div-->
        <div class="form-group">
            <label class="col-lg-4 control-label">Document Type</label>
            <div class="col-lg-8">
                <select id="type" class="form-control" ng-model="document.documentType" ng-options="dt.value as dt.label for dt in documentTypes" required></select>
            </div>
        </div>
        <div class="form-group">
            <label for="docnum" class="col-lg-4 control-label">Document Number by Owner</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" id="docnum" name="docnum" ng-model="document.ownerDocumentNumber" placeholder="Fill the number, e.g., 10080-1-SS-CI-010" />
            </div>
        </div>
        <div class="form-group">
            <label for="docname" class="col-lg-4 control-label">Document Name by Owner</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" id="docname" name="docname" ng-model="document.ownerDocumentName" placeholder="Fill the name e.g., 10080-1-SS-CI-001_01" />
            </div>
        </div>
        <div class="form-group">
            <label for="revision" class="col-lg-4 control-label">Document Revision by Owner</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" id="revision" name="revision" ng-model="document.ownerDocumentRevision" placeholder="Fill the name e.g., Rev.1" />
            </div>
        </div>
        <div class="form-group">
            <label for="data" class="col-lg-4 control-label">Document Revision Date by Owner</label>
            <div class="col-lg-8">
                <input type="date" class="form-control" id="data" name="data" ng-model="document.ownerDocumentRevisionData" />
            </div>
        </div>
        <div class="form-group">
            <label for="note" class="col-lg-4 control-label">Additional Notes</label>
            <div class="col-lg-8">
                <textarea class="form-control" id="note" name="note" rows="5" ng-model="document.accNote" placeholder="Some more notes?"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4 control-label">Files</label>
            <div class="col-xs-8">
                <input type="file" ng-file-select="onFileSelect($files)" id="fileName" name="fileName"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-xs-10">
                <button class="btn btn-primary" ng-click="upload()" ng-disabled="documentForm.$invalid || isUploading() || !filesSelected()">Upload documents</button>
                <button class="btn btn-primary" ng-click="clearForm()" ng-disabled="isUploading()">Clear form</button>
                <span ng-show="isUploading()">Uploading... </span>
            </div>
        </div>
    </form>
</div>