Package: deer-service
Version: 0.1.1
Section: web
Priority: extra
Architecture: all
Depends: tomcat7
Maintainer: Alejandra Garcia-Rojas M <alejandra.garciarojas@ontos.com>
Distribution: ldstack-nightly
Homepage: https://github.com/GeoKnow/DEER-Service
Description: A REST service for DEER (https://github.com/GeoKnow/DEER)
 for Linked Data enrichment, developed within GeoKnow project (http://geoknow.eu/),
 and part of the Linked Data Stack (http://stack.linkeddata.org/).