Package: geoknow-generator-ui
Version: 1.2.0
Section: web
Priority: extra
Architecture: all
Depends: openjdk-8-jdk, tomcat7, spring-batch-admin-geoknow, ${misc:Depends}
Maintainer: Alejandra Garcia-Rojas M <alejandra.garciarojas@ontos.com>
Distribution: development
Homepage: http://stack.linkeddata.org/getting-started/geoknow-generator/
Description: The GeoKnow Generator provides a workbench that integrates of tools
 developed within [GeoKnow project](http://geoknow.eu/),
 and are part of the [Linked Data Stack](http://stack.linkeddata.org/).
 These workbench aim to provide the required methods and tools
 to easly integrate and process geospatial data
 across a wide range of data sources on the web of data.