<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="description" class="col-lg-2 control-label">Description</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="description" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="server" class="col-lg-2 control-label">Server</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="server" placeholder="Server">
    </div>
  </div>
  <div class="form-group">
    <label for="database" class="col-lg-2 control-label">Database</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="database" placeholder="Database">
    </div>
  </div>
  <div class="form-group">
    <label for="driver" class="col-lg-2 control-label">Driver</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="driver" placeholder="Driver">
    </div>
  </div>
  <div class="form-group">
    <label for="user" class="col-lg-2 control-label">User</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="user" placeholder="User">
    </div>
  </div>
  		  <div class="form-group">
    <label for="password" class="col-lg-2 control-label">Password</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="password" placeholder="Password">
    </div>
  </div>
</form>