
<h3 class="green bold" data-i18n="_components-management_"></h3>


<p data-i18n="_components-page-description_"></p>

<table class="table table-striped" ng-controller="ComponentCtrl">
<thead>
  <tr>
  	<th>URI</th>
    <th data-i18n="_name_"></th>
    <th data-i18n="_homepage_"></th>
    <th data-i18n="_services_"></th>
    <th data-i18n="_version_"></th>
  </tr>
</thead>
<tbody>
  <tr ng-repeat="component in components">
  	<td>{{component.uri}}</td>
    <td>{{component.label}}</td>
    <td>{{component.homepage}}</td>
    <td>
      <div ng-controller="ComponentServicesCtrl" ng-init="getServices(component.uri)">
        <ul ng-repeat="service in services">
          <li>{{service.type}}</li>
          <li>{{service.serviceUrl}}</li>
        </ul>
      </div>
    </td>
    <td>{{component.version}}</td>
  </tr>
</tbody>
</table>

