
<h3 class="green bold">Components Management</h3>


<p>Current workbench configuration has integrated the following components.</p>
<div id="components">

<table class="table table-striped" ng-controller="ComponentCtrl">
<thead>
  <tr>
    <th ng-if="isAdminLogged()" >Enabled</th>
  	<th>URI</th>
    <th>Name</th>
    <th>Services</th>
    <th>Version</th>
  </tr>
</thead>
<tbody>
  <tr ng-repeat="component in components">
    <td ng-if="isAdminLogged()" ><input type="checkbox" class="checkbox" ng-show="isNotRequired(component.uri)" ng-checked="isIntegrated(component.uri)" ng-click="toggleComponent(component.uri)"> </td>
  	<td>{{component.uri | shortenURI }}</td>
    <td><a href="{{component.homepage}}" target="_blanc">{{component.label}}</a></td>
    <td>
      <div ng-repeat="(key, value) in component.services">
        <dl>
          <dt>{{value.uri | shortenURI  }} a {{value.type | shortenURI }}</dd>
          <dd>
            <button ng-if="isAdminLogged()" type="button" class="btn btn-default btn-xs" ng-click="changeServiceUrl(value);"><span class="glyphicon glyphicon-edit"></span></button>
           <a href="{{value.serviceUrl}}" target="_blanc">{{value.serviceUrl}}</a></dd>
        </dl>
      </div>
    </td>
    <td>{{component.version}}</td>
  </tr>
</tbody>
</table>

</div>