
<h3 class="green bold">Components Management</h3>


<p>Current workbench configuration has integrated the following components.</p>

<table class="table table-striped" ng-controller="ComponentCtrl">
<thead>
  <tr>
  	<th>URI</th>
    <th>Name</th>
    <th>Services</th>
    <th>Version</th>
  </tr>
</thead>
<tbody>
  <tr ng-repeat="component in components">
  	<td>{{component.uri}}</td>
    <td><a href="{{component.homepage}}" target="_blanc">{{component.label}}</a></td>
    <td>
      <div ng-init="getServices(component.uri)">
        <ul ng-repeat="service in services">
          <li>{{service.type}}</li>
          <li tooltip="service.description">{{service.serviceUrl}}</li>
        </ul>
      </div>
    </td>
    <td>{{component.version}}</td>
  </tr>
</tbody>
</table>

