/* app css stylesheet */

html, body{
	height:100%;
	font: .87em Helvetica, arial, freesans, clean, sans-serif;
}

body{
	overflow-y: auto;
}

.navbar-brand{
	width:60px;
	height:50px;
	background:transparent url('../img/gkg-logo.png') center center no-repeat;
}

/* Generator colors */

.gkg-btn{
  background: #84BB41;
  color: #ffffff;
}
.gkg-btn:hover { 
  border-color: #C0C0C0; 
  background-color: #C0C0C0; 
}

/* Typography */

.green.bold{
	color:#84BB41;
	font-weight:bold;
	margin-top: 0;
}

.green .bold{
	color:#84BB41;
	font-weight:bold;
}

.boldtext{
	font-weight:bold;
}


