<div class="contents" ng-controller="GeoliftCtrl">
	<h3 class="green bold">GeoLift</h3>
	<b>Framework to enrich geographic content in the Semantic Web</b>
	<br>
	<br>
	<p>To get started either upload a configuration file or fill in the configuration options.</p>
	
<form class="form-inline InputForm col-xs-11" role="form" ng-show="inputForm">
	<div id="geoliftOptions" ng-model="geolift.Options">
	<div class="row">
		<div class="col-xs-12">
		<h5 class="green bold">GeoLift Configuration</h5>
		</div>
	</div>
	<br>
	<div class="row" ng-controller="ImportFormCtrl">
			<label for="inputFile" class="col-xs-2 control-label">Upload a File</label>
		    	<div class="col-xs-6">
					    <input id="lefile" class="form-control input-sm" type="file" ng-file-select="onFileSelect($files)" 
					    		multiple name="fileName" accept=".xml" style="display:none">
					  	<div class="error" ng-show="uploadedError()">Invalid:
					  	<span>{{uploadMessage}}</span></div>
						<div class="input-append">
						<input id="dummyInput" class="input-sm pull-left col-xs-9" type="text" onclick="$('input[id=lefile]').click();">
						<a class="btn btn-sm btn-success btn-large pull-left col-xs-3" onclick="$('input[id=lefile]').click();">Browse</a>
						</div>
			    </div>
    </div>
    <br><br>
	<div class="row">
			<div class="col-xs-2">
				<label>Add Enriching Options</label>
		    </div>
		    <div class="col-xs-2">
				<a class="btn btn-sm btn-success btn-block" ng-click="appendInput(0)">Dereferencing</a>
	  		</div>
	  		<div class="col-xs-2">
				<a class="btn btn-sm btn-success btn-block" ng-click="appendInput(1)">NLP</a>
	  		</div>
	  		<div class="col-xs-2">
				<a class="btn btn-sm btn-success btn-block" ng-click="appendInput(2)">Linking</a>
	  		</div>
	</div>
	<br>
	<br>
	<form class="form-inline col-xs-11" role="form">
	<div class="row" ng-show="options[0].visible">
	<div class="col-xs-2" style="height:100%">
		<h5 class="green bold">Dereferencing Options</h5>
	</div>
	<div class="col-xs-6">
	<div ng-repeat="option in options[0].inputs">
		<div class="pull-left" style="width:90%"><input class="form-control input-sm"></input></div>
		<span class="glyphicon glyphicon-plus plusbutton pull-left" ng-click="appendInput(0)" aria-hidden="true"></span>
		<button type="button" class="close pull-left" ng-click="removeInput(0, $index)" aria-hidden="true">&times;</button>
	<br><br><br>
	</div>
	</div>
	</div>
	<div class="row" ng-show="options[1].visible">
	<div class="col-xs-2" style="height:100%">
		<h5 class="green bold">Natural Language Processing Options</h5>
	</div>
	<div class="col-xs-6">
	<div ng-repeat="option in options[1].inputs">
		<div class="pull-left" style="width:90%"><input class="form-control input-sm"></input></div>
		<span class="glyphicon glyphicon-plus plusbutton pull-left" ng-click="appendInput(1)" aria-hidden="true"></span>
		<button type="button" class="close pull-left" ng-click="removeInput(1, $index)" aria-hidden="true">&times;</button>
	<br><br><br>
	</div>
	</div>
	</div>
	<div class="row" ng-show="options[2].visible">
	<div class="col-xs-2" style="height:100%">
		<h5 class="green bold">Linking Options</h5>
	</div>
	<div class="col-xs-6">
	<div ng-repeat="option in options[2].inputs">
		<div class="pull-left" style="width:90%"><input class="form-control input-sm"></input></div>
		<span class="glyphicon glyphicon-plus plusbutton pull-left" ng-click="appendInput(2)" aria-hidden="true"></span>
		<button type="button" class="close pull-left" ng-click="removeInput(2, $index)" aria-hidden="true">&times;</button>
	<br><br><br>
	</div>
	</div>
	</div>
	<div class="row" ng-show="options[3].visible">
		<div class="col-xs-2"></div>
		<div class="col-xs-2">
		  <a class="btn btn-sm btn-primary btn-block" ng-click="startGeoLift()">Start GeoLift</a>
		</div>
	</div>
	</form>
	</div>
</form>
</div>