<div class="row contents" ng-controller="AccountCtrl">
  <div class="col-lg-2">

    <!--            <div class="panel-group" id="accordion" ng-controller="AccountMenuCtrl">
              <div class="panel panel-default" ng-repeat="item in items">
                  <div class="panel-heading" ng-controller="SidebarCtrl">
                      <h5 ng-class="{selected:isSelected('{{item.url}}')}" class="panel-title">
                        <a class="accordion-toggle" href="{{item.route}}">{{item.name}}</a>
                      </h5>
                  </div>
                </div>
            </div>
 -->
  </div>


  <h2 data-i18n="_user-account_"></h2>

  <div class="col-lg-8">
    <table class="table table-bordered" ng-if="currentAccount.username">
      <tr>
        <td>{{'_username_' | i18n}}:</td>
        <td>{{currentAccount.username}}</td>
      </tr>
      <tr>
        <td>{{'_email_' | i18n}}:</td>
        <td>{{currentAccount.email}}</td>
      </tr>
    </table>

    <button type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#modalChangePassword" ng-if="currentAccount.username" data-i18n="_change-password_"></button>
  </div>
  <div class="modal fade" id="modalChangePassword">
    <div class="modal-dialog">
      <div class="modal-content">
        <form name="changePasswordForm" class="form-horizontal InputForm" role="form">
          <div class="modal-header">
            <button type="button" class="close" ng-click="close('#modalLogin')" aria-hidden="true">&times;</button>
            <h5 class="modal-title green bold" data-i18n="_change-password_"></h5>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="oldPassword" class="col-lg-2 control-label" data-i18n="_old-password_"></label>
              <div class="col-lg-10">
                <input type="password" id="oldPassword" name="oldPassword" class="form-control" data-i18n-attr="_old-password_|placeholder" ng-model="password.oldPassword" required/>
                <div class="error" ng-show="changePasswordForm.oldPassword.$dirty && changePasswordForm.oldPassword.$invalid">{{'_invalid-field-message_' | i18n}}:
                  <span ng-show="changePasswordForm.oldPassword.$error.required" data-i18n="_old-password-missed-message_"></span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="newPassword" class="col-lg-2 control-label" data-i18n="_new-password_"></label>
              <div class="col-lg-10">
                <input type="password" id="newPassword" name="newPassword" class="form-control" data-i18n-attr="_new-password_|placeholder" ng-model="password.newPassword" required/>
                <div class="error" ng-show="changePasswordForm.newPassword.$dirty && changePasswordForm.newPassword.$invalid">{{'_invalid-field-message_' | i18n}}:
                  <span ng-show="changePasswordForm.newPassword.$error.required" data-i18n="_new-password-missed-message_"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn-sm btn-primary" ng-click="changePassword();" ng-disabled="changePasswordForm.$invalid" data-i18n="_change_"></button>
            <button type="button" class="btn-sm btn-default" ng-click="close('#modalLogin')" data-i18n="_cancel_"></button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
</div>
