<div class="row contents" ng-controller="AccountCtrl">
  <div class="col-lg-2">

    <!--            <div class="panel-group" id="accordion" ng-controller="AccountMenuCtrl">
              <div class="panel panel-default" ng-repeat="item in items">
                  <div class="panel-heading" ng-controller="SidebarCtrl">
                      <h5 ng-class="{selected:isSelected('{{item.url}}')}" class="panel-title">
                        <a class="accordion-toggle" href="{{item.route}}">{{item.name}}</a>
                      </h5>
                  </div>
                </div>
            </div>
 -->
  </div>


  <h2>User Account</h2>

  <div class="col-lg-8">
    <table class="table table-bordered" >
      <tr>
        <td>Username:</td>
        <td>{{account.getUsername()}}</td>
      </tr>
      <tr>
        <td>E-mail address:</td>
        <td>{{account.getEmail()}}</td>
      </tr>
      <tr>
        <td>Role:</td>
        <td>{{account.getRole().name}}</td>
      </tr>
      <tr>
        <td>Settings Graph:</td>
        <td>{{account.getSettingsGraph()}}</td>
      </tr>
    </table>

    <button type="button" class="btn-sm btn-success" data-toggle="modal" data-target="#modalChangePassword" ng-click="clearChangePasswordForm()">Change password</button>
  </div>
  <div class="modal fade" id="modalChangePassword" modal-focus="#oldPassword">
    <div class="modal-dialog">
      <div class="modal-content">
        <form name="changePasswordForm" class="form-horizontal InputForm" role="form">
          <div class="modal-header">
            <button type="button" class="close" ng-click="close('#modalChangePassword')" aria-hidden="true">&times;</button>
            <h5 class="modal-title green bold">Change password</h5>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="oldPassword" class="col-lg-4 control-label">Old password</label>
              <div class="col-lg-8">
                <input type="password" id="oldPassword" name="oldPassword" class="form-control" placeholder="Old password" ng-model="password.oldPassword" required/>
                <div class="error" ng-show="changePasswordForm.oldPassword.$dirty && changePasswordForm.oldPassword.$invalid">Invalid:
                  <span ng-show="changePasswordForm.oldPassword.$error.required">Specify old password</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="newPassword" class="col-lg-4 control-label">New password</label>
              <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-10">
                        <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="New password" ng-model="password.newPassword" regex-validate="basicPassword" required/>
                    </div>
                    <div>
                        <i class="glyphicon glyphicon-question-sign" style="margin-top: 10px;" data-toggle="tooltip" data-original-title="6 symbols minimum (digits and latin letters): at least 1 digit, 1 lower case latin letter and 1 upper case latin letter" data-placement="bottom"></i>
                    </div>
                </div>
                <div class="error" ng-show="changePasswordForm.newPassword.$dirty && changePasswordForm.newPassword.$invalid">Invalid:
                  <span ng-show="changePasswordForm.newPassword.$error.required">Specify new password</span>
                  <span ng-show="changePasswordForm.newPassword.$error.regexValidate && !changePasswordForm.newPassword.$error.required">Password is too weak</span>
                </div>
              </div>
            </div>
              <div class="form-group">
                  <label for="confirmPassword" class="col-lg-4 control-label">Confirm password</label>
                  <div class="col-lg-8">
                      <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm password" ng-model="password.confirmPassword" confirm-field="newPassword" required/>
                      <div class="error" ng-show="changePasswordForm.confirmPassword.$dirty && changePasswordForm.confirmPassword.$invalid">Invalid:
                          <span ng-show="changePasswordForm.confirmPassword.$error.required">Confirm password</span>
                          <span ng-show="changePasswordForm.confirmPassword.$error.confirmField && !changePasswordForm.confirmPassword.$error.required">Invalid password confirmation</span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn-sm btn-success" ng-click="changePassword();" ng-disabled="changePasswordForm.$invalid">Change</button>
            <button type="button" class="btn-sm btn-default" ng-click="close('#modalChangePassword')">Cancel</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
</div>
