<div ng-controller="ModalWindow">
	<h3 class="green bold">Facete</h3>
    <a class="btn btn-primary btn-large" ng-click="open()">Launch Facete</a>

  <!-- Modal -->
  <div class="modal fade" id="modalWindow">
    
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h5 class="modal-title green bold">Facete</h5>
        </div>
        <div class="modal-body">
        <iframe id="mod-frame" src="http://10.0.0.90/facete"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-sm btn-success" data-dismiss="modal">Close</button>
        </div>
        
  	</div><!-- /.modal -->
  </div>
