<div ng-controller="ModalWindow">
	<h3 class="green bold">Facete</h3>
	
    <h4 >A tool for exploring (geographical) Linked Data datasets on the Web.</h4>
          
	
    <a class="btn btn-primary btn-large" ng-click="OpenFullWindow()">Launch Facete</a>

  <!-- Modal -->
  <div class="modal fade" id="modalWindow">
    
        <div class="modal-header">
          <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
          <h5 class="modal-title green bold">Facete</h5>
        </div>
        <div class="modal-body">
        <iframe id="mod-frame" src="http://[2001:638:902:2010:0:168:35:114]:8080/facete/?service-uri=http://localhost:8890/sparql&default-graph-uri=http://localhost/lod2democonfiguration"></iframe>
        <!-- http://localhost:8080/facete/?service-uri=http://localhost:8890/sparql&default-graph-uri=http://localhost/lod2democonfiguration -->
        <!--  http://[2001:638:902:2010:0:168:35:114]:8080/facete/?service-uri=http://localhost:8890/sparql&default-graph-uri=http://localhost/lod2democonfiguration -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-sm btn-success" ng-click="close()">Close</button>
        </div>
        
  	</div><!-- /.modal -->
  </div>
