<h3 class="green bold" data-i18n="_users-management_"></h3>

<div ng-controller="UserCtrl">
    <button type="button" class="btn btn-success btn-large" data-toggle="modal" data-target="#modalUser" ng-click="new();" data-i18n="_add-user_"></button>

    <div class="modal fade" id="modalUser">
        <form name="userForm" class="form-horizontal InputForm" role="form">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('#modalUser')" aria-hidden="true">&times;</button>
                <h5 class="modal-title green bold" data-i18n="{{modaltitle}}"></h5>
            </div>
            <div class="modal-body">
                <div class="form-group" ng-show="!isNew()">
                    <label class="col-lg-2 control-label" data-i18n="_user-account-uri_"></label>
                    <div class="col-lg-10">
                        <p class="form-control-static">{{user.profile.accountURI}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" class="col-lg-2 control-label" data-i18n="_login_"></label>
                    <div class="col-lg-10">
                        <input type="text" id="username" name="username" class="form-control" data-i18n-attr="_username_|placeholder" ng-model="user.profile.username" ng-disabled="!isNew()" required/>
                        <div class="error" ng-show="userForm.username.$dirty && userForm.username.$invalid">{{'_invalid-field-message_' | i18n}}:
                            <span ng-show="userForm.username.$error.required" data-i18n="_username-missed-message_"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-lg-2 control-label" data-i18n="_email_"></label>
                    <div class="col-lg-10">
                        <input type="email" id="email" name="email" class="form-control" data-i18n-attr="_email_|placeholder" ng-model="user.profile.email" ng-disabled="!isNew()" required/>
                        <div class="error" ng-show="userForm.email.$dirty && userForm.email.$invalid">{{'_invalid-field-message_' | i18n}}:
                            <span ng-show="userForm.email.$error.required" data-i18n="_email-missed-message_"></span>
                            <span ng-show="userForm.email.$error.email" data-i18n="_malformed-email-message_"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-xs-2 text-left" data-i18n="_graph-access_"></label>
                    <div class="col-xs-10">
                        <table class="table table-striped">
                            <tr>
                                <th data-i18n="_graph_"></th>
                                <th data-i18n="_read_"></th>
                                <th data-i18n="_write_"></th>
                            </tr>
                            <tr ng-repeat="graph in graphs | filter:notOwn">
                                <td>{{graph}}</td>
                                <td><input type="checkbox" ng-checked="user.readableGraphs.indexOf(graph) > -1" ng-click="toggleGraphRead(graph)"/></td>
                                <td><input type="checkbox" ng-checked="user.writableGraphs.indexOf(graph) > -1" ng-click="toggleGraphWrite(graph)"/></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn-sm btn-success" ng-click="save();" ng-disabled="userForm.$invalid" data-i18n="_save_"></button>
                <button type="button" class="btn-sm btn-default" ng-click="close('#modalUser')" data-i18n="_cancel_"></button>
            </div>
        </form>
    </div>

    <h4>
        <span class="btn-group">
            <button type="button" class="btn btn-link reset" ng-click="refreshUsersList()">
                <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i>
            </button>
        </span>
        {{'_users_' | i18n}}
    </h4>

    <table class="table table-striped">
        <thead>
        <tr>
            <th data-i18n="_action_"></th>
            <th data-i18n="_user-account-uri_"></th>
            <th data-i18n="_username_"></th>
            <th data-i18n="_email_"></th>
            <th data-i18n="_user-own-graphs_"></th>
            <th data-i18n="_user-readable-graphs_"></th>
            <th data-i18n="_user-writable-graphs_"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users | filter:notCurrent">
            <td>
                <button type="button" class="btn btn-default btn-xs" ng-click="delete('{{user.profile.username}}')"><span class="glyphicon glyphicon-trash"></span></button>
                <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modalUser" ng-click="edit('{{user.profile.username}}');"><span class="glyphicon glyphicon-edit"></span></button>
            </td>
            <td>{{user.profile.accountURI}}</td>
            <td>{{user.profile.username}}</td>
            <td>{{user.profile.email}}</td>
            <td>
                <ul class="list-unstyled">
                    <li ng-repeat="graph in user.ownGraphs">{{graph}}</li>
                </ul>
            </td>
            <td>
                <ul class="list-unstyled">
                    <li ng-repeat="graph in user.readableGraphs">{{graph}}</li>
                </ul>
            </td>
            <td>
                <ul class="list-unstyled">
                    <li ng-repeat="graph in user.writableGraphs">{{graph}}</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>