<div ng-controller="UploadedDocsCtrl">
    <!-- Subscribe to all flash messages. -->
    <div flash-alert active-class="in alert" class="fade" duration="0">
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message">{{flash.message}}</span>
    </div>

    <h3 class="green bold">Edit Uploads</h3>

    <h4>
        <span class="btn-group">
            <button type="button" class="btn btn-link reset" ng-click="refreshDocuments()">
                <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i>
            </button>
        </span>
        Uploaded Documents
    </h4>

    <div class="row">
        <div class="row col-lg-6">
            <div class="col-lg-2">Search: </div>
            <div class="col-lg-4"><input type="text" ng-model="searchText" ng-change="filter()"></div>
            <div class="col-lg-2">Field: </div>
            <div class="col-lg-4">
                <select multiple chosen width="'100%'" ng-model="searchField" ng-options="field.value as field.label for field in filterFields" ng-change="filter()"></select>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Action</th>
            <th>
                <div class="row">
                    <div class="col-lg-8">ACC Document</div>
                    <div class="col-lg-4">
                        <a ng-show="!sortReverse || sortColumn!=1" href=""><span class="glyphicon glyphicon-chevron-up" ng-click="sortPredicate=getDocumentId; sortReverse=sortColumn==1?true:false; sortColumn=1; sort();"></span></a>
                        <a ng-show="sortReverse || sortColumn!=1" href=""><span class="glyphicon glyphicon-chevron-down" ng-click="sortPredicate=getDocumentId; sortReverse=sortColumn==1?false:true; sortColumn=1; sort();"></span></a>
                    </div>
                </div>
            </th>
            <th>
                <div class="row">
                    <div class="col-lg-8">Project</div>
                    <div class="col-lg-4">
                        <a ng-show="!sortReverse || sortColumn!=2" href=""><span class="glyphicon glyphicon-chevron-up" ng-click="sortPredicate='hasProject'; sortReverse=sortColumn==2?true:false; sortColumn=2; sort();"></span></a>
                        <a ng-show="sortReverse || sortColumn!=2" href=""><span class="glyphicon glyphicon-chevron-down" ng-click="sortPredicate='hasProject'; sortReverse=sortColumn==2?false:true; sortColumn=2; sort();"></span></a>
                    </div>
                </div>
            </th>
            <th>
                <div class="row">
                    <div class="col-lg-8">Document Number by Owner</div>
                </div>
                <div class="col-lg-4">
                    <a ng-show="!sortReverse || sortColumn!=3" href=""><span class="glyphicon glyphicon-chevron-up" ng-click="sortPredicate='ownerDocumentNumber'; sortReverse=sortColumn==3?true:false; sortColumn=3; sort();"></span></a>
                    <a ng-show="sortReverse || sortColumn!=3" href=""><span class="glyphicon glyphicon-chevron-down" ng-click="sortPredicate='ownerDocumentNumber'; sortReverse=sortColumn==3?false:true; sortColumn=3; sort();"></span></a>
                </div>
            </th>
            <th>
                <div class="row">
                    <div class="col-lg-8">Document Name by Owner</div>
                </div>
                <div class="col-lg-4">
                    <a ng-show="!sortReverse || sortColumn!=4" href=""><span class="glyphicon glyphicon-chevron-up" ng-click="sortPredicate='ownerDocumentName'; sortReverse=sortColumn==4?true:false; sortColumn=4; sort();"></span></a>
                    <a ng-show="sortReverse || sortColumn!=4" href=""><span class="glyphicon glyphicon-chevron-down" ng-click="sortPredicate='ownerDocumentName'; sortReverse=sortColumn==4?false:true; sortColumn=4; sort();"></span></a>
                </div>
            </th>
            <th>
                <div class="row">
                    <div class="col-lg-8">Document Revision by Owner</div>
                </div>
                <div class="col-lg-4">
                    <a ng-show="!sortReverse || sortColumn!=5" href=""><span class="glyphicon glyphicon-chevron-up" ng-click="sortPredicate='ownerDocumentRevision'; sortReverse=sortColumn==5?true:false; sortColumn=5; sort();"></span></a>
                    <a ng-show="sortReverse || sortColumn!=5" href=""><span class="glyphicon glyphicon-chevron-down" ng-click="sortPredicate='ownerDocumentRevision'; sortReverse=sortColumn==5?false:true; sortColumn=5; sort();"></span></a>
                </div>
            </th>
            <th>
                <div class="row">
                    <div class="col-lg-8">Uploaded</div>
                    <div class="col-lg-4">
                        <a ng-show="!sortReverse || sortColumn!=6" href=""><span class="glyphicon glyphicon-chevron-up" ng-click="sortPredicate='dateUploaded'; sortReverse=sortColumn==6?true:false; sortColumn=6; sort();"></span></a>
                        <a ng-show="sortReverse || sortColumn!=6" href=""><span class="glyphicon glyphicon-chevron-down" ng-click="sortPredicate='dateUploaded'; sortReverse=sortColumn==6?false:true; sortColumn=6; sort();"></span></a>
                    </div>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="d in curPageDocs">
            <td>
                <button type="button" class="btn btn-default btn-xs" ng-confirm-click="delete('{{d.uuid}}')" ng-confirm-message="Are you sure you want to delete document {{d.accDocumentNumber}}-{{d.accDocumentIteration}}?"><span class="glyphicon glyphicon-trash"></span></button>
                <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modalDocument" ng-click="edit('{{d.uri}}')"><span class="glyphicon glyphicon-edit"></span></button>
            </td>
            <td>{{getDocumentId(d)}}</td>
            <td>
                <ul class="list-unstyled">
                    <li ng-repeat="project in d.hasProject">{{project.number}} ({{project.name}})</li>
                </ul>
            </td>
            <td>{{d.ownerDocumentNumber}}</td>
            <td>{{d.ownerDocumentName}}</td>
            <td>{{d.ownerDocumentRevision}}</td>
            <td>{{formatDateTime(d.dateUploaded)}}</td>
        </tr>
        </tbody>
    </table>
    <pagination total-items="totalDocs" items-per-page="itemsPerPage" page="curPageNum" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>


    <div class="modal fade scrollable" id="modalDocument">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="documentForm" class="form-horizontal InputForm" role="form" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="close('#modalDocument')" aria-hidden="true">&times;</button>
                        <h5 class="modal-title green bold">Edit Document</h5>
                    </div>

                    <div class="modal-body">
                        <div>
                            <div class="row">
                                <label class="col-lg-4 control-label">ACC Project Names</label>
                                <div class="col-lg-8">
                                    <table class="table table-striped">
                                        <tr ng-repeat="p in document.hasProject">
                                            <td>
                                                <p class="form-control-static">{{p.number}} ({{p.name}})</p>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-default btn-xs" ng-click="removeProject(p)"><span class="glyphicon glyphicon-remove"></span></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <select chosen data-placeholder=" " width="'100%'" ng-model="newAssignedProject" ng-options="p as p.number for p in projects | filter:notAssigned | orderBy:'number'" ng-change="assignProject()"></select>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-default btn-xs" ng-click="showCreateProject=true;"><span class="glyphicon glyphicon-plus"></span></button>
                                            </td>
                                        </tr>
                                        <tr ng-show="showCreateProject">
                                            <td>
                                                <input type="text" ng-model="newProjectNumber" placeholder="New project number"/>
                                                <br/>
                                                <input type="text" ng-model="newProjectName" placeholder="New project name"/>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-default btn-xs" ng-click="addNewProject()"><span class="glyphicon glyphicon-ok"></span></button>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="error" ng-show="document.hasProject.length==0">Invalid:
                                        <span>At least one assigned project expected</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="number" class="col-lg-4 control-label">ACC document number</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="number" name="number" ng-model="document.accDocumentNumber" required regex-validate="docNumber" />
                                <div class="error" ng-show="documentForm.number.$dirty && documentForm.number.$invalid">Invalid:
                                    <span ng-show="documentForm.number.$error.required || documentForm.number.$error.regexValidate">Specify valid ACC document number</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="iteration" class="col-lg-4 control-label">ACC document iteration</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="iteration" name="iteration" ng-model="document.accDocumentIteration" required regex-validate="docIteration" />
                                <div class="error" ng-show="documentForm.iteration.$dirty && documentForm.iteration.$invalid">Invalid:
                                    <span ng-show="documentForm.iteration.$error.required || documentForm.iteration.$error.regexValidate">Specify valid ACC document iteration</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="received" class="col-lg-4 control-label">Date Document Received</label>
                            <div class="col-lg-8">
                                <input ui-date="{dateFormat: 'yy-mm-dd'}" ui-date-format="yy-mm-dd" class="form-control" id="received" name="received" ng-model="document.dateReceived" required />
                                <div class="error" ng-show="documentForm.received.$dirty && documentForm.received.$invalid">Invalid:
                                    <span ng-show="documentForm.received.$error.required">Specify received date</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Owner Name</label>
                            <div class="col-lg-8 row">
                                <div class="col-lg-9">
                                    <select chosen data-placeholder=" " width="'100%'" id="owner" class="form-control" ng-model="document.owner" ng-options="o as o.name for o in owners" required></select>
                                </div>
                                <div class="col-lg-3">
                                    <button type="button" class="btn btn-default btn-xs" ng-click="showCreateOwner=true;"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="showCreateOwner">
                            <div class="col-lg-offset-4 row">
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" ng-model="newOwnerName" placeholder="New owner name"/>
                                </div>
                                <div class="col-lg-4">
                                    <button type="button" class="btn btn-default btn-xs" ng-click="addNewOwner()"><span class="glyphicon glyphicon-ok"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-lg-4 control-label">Short description</label>
                            <div class="col-lg-8">
                                <textarea class="form-control" id="description" name="description" rows="5" ng-model="document.accDescription"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="applicable" class="col-lg-4 control-label">Document Applicable</label>
                            <div class="col-lg-8">
                                <input type="checkbox" id="applicable" name="applicable" ng-model="document.isApplicable" />
                            </div>
                        </div>
                        <!--div class="form-group">
                            <label class="col-lg-4 control-label">Document Type</label>
                            <div class="col-lg-8">
                                <select id="type" class="form-control" ng-model="document.documentType" ng-options="dt.value as dt.label for dt in documentTypes" required></select>
                            </div>
                        </div-->
                        <div class="form-group">
                            <label for="docnum" class="col-lg-4 control-label">Document Number by Owner</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="docnum" name="docnum" ng-model="document.ownerDocumentNumber" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-lg-4 control-label">Document Name by Owner</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="name" name="name" ng-model="document.ownerDocumentName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="revision" class="col-lg-4 control-label">Document Revision by Owner</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="revision" name="revision" ng-model="document.ownerDocumentRevision" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="data" class="col-lg-4 control-label">Document Revision Date by Owner</label>
                            <div class="col-lg-8">
                                <input ui-date="{dateFormat: 'yy-mm-dd'}" ui-date-format="yy-mm-dd" class="form-control" id="data" name="data" ng-model="document.ownerDocumentRevisionData" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="note" class="col-lg-4 control-label">Additional Notes</label>
                            <div class="col-lg-8">
                                <textarea class="form-control" id="note" name="note" rows="5" ng-model="document.accNote"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Uploader</label>
                            <div class="col-lg-8">
                                <p class="form-control-static">{{document.uploader}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Uploaded</label>
                            <div class="col-lg-8">
                                <p class="form-control-static">{{document.dateUploaded}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn-sm btn-primary" ng-click="save();" ng-disabled="documentForm.$invalid || document.hasProject.length==0 || isUnchanged(document)">Save</button>
                        <button type="button" class="btn-sm btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>