<!--  
<div ng-controller="ModalWindow">
    <button class="btn" ng-click="open()">Open me!</button>
    <div modal="shouldBeOpen" close="close()" options="opts">
        <div class="modal-header">
            <h4>OntoWiki</h4>
        </div>
        <div class="modal-body">
            <iframe id="ow-frame" src="http://10.0.0.90/ontowiki"></iframe>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning cancel" ng-click="close()">Close</button>
        </div>
    </div>
</div>
-->

<div ng-controller="ModalWindow">
	<h3 class="green bold">OntoWiki</h3>
    <a class="btn btn-primary btn-large" ng-click="OpenFullWindow()">Launch OntoWiki</a>

  <!-- Modal -->
  <div class="modal fade" id="modalWindow">
        <div class="modal-header">
          <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
          <h5 class="modal-title green bold">OntoWiki</h5>
        </div>
        <div class="modal-body">
        <iframe id="mod-frame" src="http://10.0.0.90/ontowiki"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-sm btn-success" ng-click="close()">Close</button>
        </div>
  </div><!-- /.modal -->
</div>

