
<div class="modal-content">
<form name="jobForm" class="form-horizontal InputForm" role="form" novalidate>
  <div class="modal-header">
      <h3 class="modal-title" ng-if="!editMode()">{{modaltitle}} <span ng-if="isLoading()">| Loading...</span></h3>
  </div>
  <div class="modal-body">
  
      <div class="form-group">
        <label for="name" class="col-xs-2 control-label">Name</label>
        <div class="col-xs-10">
          <input type="text" class="form-control" id="label" name="label" placeholder="Name" ng-model="job.label" ng-change="updateNewTargetLabel()" required/>
          <div class="error"  ng-show="jobForm.name.$dirty && jobForm.name.$invalid">Invalid field:
            <span ng-show="jobForm.name.$error.required">Name reqired</span>
          </div>
        </div>
      </div>
      
       <div class="form-group">
        <label for="description" class="col-xs-2 control-label" >Description</label>
        <div class="col-xs-10">
          <textarea class="form-control input-sm" name="description" id="description" placeholder="Description" ng-model="job.description" ng-change="updateNewTargetDescription()">
          </textarea>
          <div class="error"  ng-show="jobForm.description.$dirty && jobForm.description.$invalid">Invalid field:
            <span ng-show="jobForm.description.$error.required" >Description missing</span>
          </div>
        </div>
      </div>

      <target-graph graph-info="target"></target-graph>
         
  </div>
  <div class="modal-footer">
      <button class="btn btn-success" ng-click="ok()" ng-disabled="jobForm.$invalid">OK</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>
</form>
</div>
