<div class="contents" ng-controller="LimesCtrl">

<!-- Subscribe to all flash messages. -->
	<div flash-alert active-class="in alert" class="fade" duration="0">
		<button type="button" class="close" ng-click="hide()">&times;</button>
  	<span class="alert-message">{{flash.message}}</span>
	</div>

<div class="col-xs-11" role="form" ng-show="inputForm">
	<div class="row">
	<div class="col-xs-11">
	<h2>
	Discovering links...
	</h2>
	</div>
	</div>
	<div class="row">
		<div class="col-xs-11">
		<div class="progress progress-striped active" ng-show="showProgress">
		<div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
		</div>
		</div>
		</div>
	</div>
	<div class="row">
	<div class="col-xs-11" ng-show="showProgress">
		<b>This might take a while... Please keep this browser window open. You can view and save the results here when execution is complete.</b>
	</div>
	</div>
</div>
	
<div class="col-xs-11 maxHeight" role="form" ng-show="reviewForm">
	<div class="overflow below">
	<table class="table table-striped">
		<thead>
		  <tr>
		  	<th>Entity</th>
		    <th>Entity</th>
		    <th>Percentage Match</th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="allItems in allItems track by $index">
		  	<td ng-repeat="item in allItems track by $index"><a href="item.entity1" target="blank">{{item.entity1}}</a></td>
		  	<td ng-repeat="item in allItems track by $index"><a href="item.entity2" target="blank">{{item.entity2}}</a></td>
		  	<td ng-repeat="item in allItems track by $index">{{item.match}}</td>
		  </tr>
		</tbody>
	</table>
	</div>
	
<!-- 	
TODO: add input text so user can provide the graph name
<div class="row below">
		<b>Select the endpoint and graph which you would like to save to.</b>
	<br>
	</div>
	<div class="row below">
	<label>Endpoint</label>
	<select class="form-control" ng-model="saveEndpoint" ng-options="c.endpoint as c.label for c in endpoints" required>
    </select>
	</div>
	<br>
 -->	


<div class="row">
	<div class="row below">
	<div class="col-xs-12">
		<div class="pull-left col-xs-12 below" style="margin-left:0" ng-show="differing">
			<span style="margin-right:20px"><b>Refine the results by adjusting the slider: </b></span>
			<div id="result" data-slider-id='resultSlider'></div>
		</div>
	</div>
	</div>
	<div class="col-xs-12">
	<div class="row">
	<div class="col-xs-6">
		<b>Select a graph</b>
	</div>
	</div>
	<br/>
	<div class="row">
	<div class="col-xs-6">
    <select class="form-control" ng-model="saveDataset" ng-options="namedgraph.name as namedgraph.name for namedgraph in namedGraphs" required>
    </select>
  	</div>
  	</div>
	<br/>
	<div class="row below">
	<div class="col-xs-6">
		<div class="pull-left" style="padding-left:0">
			  <a class="btn btn-sm btn-primary" ng-click="save()">Save results</a>
		</div>
	</div>
	</div>
	</div>
	</div>
</div>
</div>