<div ng-controller="OntoWikiCtrl">
  <div class="col-lg-8">
    <h3 class="green bold">{{component.label}}</h3>


    <dl class="dl-horizontal">
      <dt>Version:</dt><dd>{{component.version}}</dd>
      <dt>Homepage:</dt><dd>{{component.homepage}}</dd>
    </dl>

    <form class="form-horizontal InputForm col-xs-11"  role="form" >
      <a class="btn btn-success btn-large" data-toggle="modal" ng-click="openModal();">Launch</a>
    </form>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="fullModal" >
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="close('#fullModal')" aria-hidden="true">&times;</button>
      <h5 class="modal-title green bold">{{component.label}}</h5>
    </div>
    <div class="modal-body">
      <modal-iframe></modal-iframe>
    </div>
    </div>
  </div><!-- /.modal -->
</div>

