<div ng-controller="OntologyCtrl">
<div class="row below">
    <h3 class="green bold">
        <span class="btn-group">
            <button type="button" class="btn btn-link reset" ng-click="refreshOntologies()">
                <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i>
            </button>
        </span>
        {{'_ontologies_' | i18n}}
    </h3>

    <table class="table table-striped">
        <thead>
        <tr>
            <th data-i18n="_action_"></th>
            <th>URI</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="onto in ontologies">
            <td>
                <button type="button" class="btn btn-default btn-xs" ng-confirm-click="delete('{{onto}}')" ng-confirm-message="{{'_delete-ontology-confirm-message_' | i18n}} {{onto}}?" ng-disabled="!isLoggedIn()">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                <button type="button" class="btn btn-default btn-xs" data-toggle="modal" ng-click="setUrl('{{onto}}'); openModal();">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </td>
            <td>{{onto}}</td>
        </tr>
        </tbody>
    </table>
    
    <button type="button" class="btn btn-primary btn-large" data-toggle="modal" data-target="#modalOntology" ng-click="new();" ng-disabled="!isLoggedIn()" data-i18n="_add-ontology_"></button>

<div class="modal fade" id="modalOntology">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close('#modalOntology')" aria-hidden="true">&times;</button>
            <h5 class="modal-title green bold" data-i18n="_add-ontology_"></h5>
        </div>

        <div class="modal-body">
            <form class="form-horizontal InputForm" role="form" name="typeForm">
                <div class="row">
                    <label for="source-type" class="col-xs-4 control-label" data-i18n="_import-from_"></label>
                    <div class="col-xs-8">
                        <select id="source-type" class="form-control" ng-model="sourceType" ng-options="c as localize(c.label) for c in sourceTypes" ng-change="updateForm()" required></select>
                    </div>
                </div>
            </form>

            <!-- Import from file form -->
            <div ng-show="fileElements" class="animate-show">
                <form class="form-horizontal InputForm" role="form" name="fileForm" novalidate>
                    <div class="form-group">
                        <label class="col-xs-4 control-label" data-i18n="_file-input_"></label>
                        <div class="col-xs-8">
                            <input type="file" ng-file-select="onFileSelect($files)" name="fileName" accept=".ttl, .rdf, .n3">
                        </div>
                    </div>
                </form>
            </div>

            <!-- Import from URL form  -->
            <div ng-show="urlElements" class="animate-show">
                <form name="urlForm" class="form-horizontal InputForm" role="form" novalidate>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">URI</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="uri" name="uri" placeholder="URI" ng-model="ontology.uri" required unique-identifier/>
                            <div class="error"  ng-show="urlForm.uri.$dirty && urlForm.uri.$invalid">{{'_invalid-field-message_' | i18n}}:
                                <span ng-show="urlForm.uri.$error.required" data-i18n="_uri-missed-message_"></span>
                                <span ng-show="urlForm.uri.$error.uniqueIdentifier" data-i18n="_id-already-exists-message_"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn-sm btn-primary" ng-click="add();" data-i18n="_add_"></button>
            <button type="button" class="btn-sm btn-default" ng-click="close('#modalOntology')" data-i18n="_cancel_"></button>
        </div>
    </div>
    </div>
    </div>

    <div class="modal" id="fullModal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close('#fullModal')" aria-hidden="true">&times;</button>
            <h5 class="modal-title green bold">MiniDix</h5>
        </div>
        <div class="modal-body">
            <modal-iframe></modal-iframe>
        </div>
    </div>
    </div>
    </div>
</div>