
  <div class="row contents">
  	<div class="col-sm-2 sidebar">
			
			<div class="panel-group" id="accordion" ng-controller="StackMenuCtrl">
			  <div class="panel panel-default" ng-repeat="group in groups">
				  <div class="panel-heading">
					  <h5 class="panel-title">
				        <span class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#{{group.id}}">
				          {{group.title}}
				        </span>
				      </h5>
				  </div>
				  <div id="{{group.id}}" class="panel-collapse collapse" ng-controller="SidebarCtrl">
					  <div class="list-item" ng-class="{selected:isSelected('{{item.url}}')}" ng-repeat="item in group.items">
							<h6><a class="list-group-item" target="{{item.target}}" href="{{item.route}}">{{item.name}}</a></h6>
					  </div>
				  </div>
			  	</div>
			</div>
			
		</div>

	  <div class="col-sm-10 contents" app-view-segment="1">
	  	<div class="col-sm-7">
 		 <p>
	    This is Version 0.1 of the GeoKnow Generator, which comprises a number of tools for managing the life-cycle of Geographic Linked Data. The life-cycle comprises in particular the stages:
			</p>
			<ul>
			<li>Extraction of RDF from text, XML and SQL</li>
			<li>Querying and Exploration using SPARQL</li>
			<li>Authoring of Linked Data using a Semantic Wiki</li>
			<li>Semi-automatic link discovery between Linked Data sources</li>
			<li>Knowledge-base Enrichment and Repair</li>
			<li>You can access tools for each of these stages using the menu on the left.</li>
			</ul>
			<p>
			The GeoKnow Generator is developed by the GeoKnow project consortium comprising 6 research groups and companies. The GeoKnow project is co-funded by the European Commission within the 7th Framework Programme (GA no. 318159).
			</p>
			<p>
			You can find further information about the GeoKnow project at <a href="http://geoknow.eu" target="blank">http://geoknow.eu</a>.
			</p>

	  	</div>
	    </div>
		</div>
  </div>



 	  


	