
  <div class="contents">
  	<div class="col-sm-2 sidebar">
			
			<div class="panel-group" id="accordion" ng-controller="StackMenuCtrl">
			  <div class="panel panel-default" ng-repeat="group in groups">
				  <div class="panel-heading">
					  <h5 class="panel-title">
				        <span class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#{{group.id}}">
				          {{group.title}}
				        </span>
				      </h5>
				  </div>
				  <div id="{{group.id}}" class="panel-collapse collapse" ng-controller="SidebarCtrl">
					  <div class="list-item" ng-class="{selected:isSelected('{{item.url}}')}" ng-repeat="item in group.items">
							<h6><a class="list-group-item" target="{{item.target}}" href="{{item.route}}">{{item.name}}</a></h6>
					  </div>
				  </div>
			  	</div>
			</div>
			
		</div>

	  <div class="col-sm-10 contents" app-view-segment="1">
	  	<div class="col-sm-8">
 		<h3 class="green bold">Welcome to the GeoKnow Generator Demo</h3>
 		<h5>Version 0.1 Beta</h5>
 		<br>
	  	</div>
	    </div>
  </div>



 	  


	