

<h4>SPARQL Endpoint</h4>

<div ng-controller="EndpointCtrl">

  <button ng-if="isUserAuthenticated()" type="button" class="btn btn-success btn-large"
    ng-click="new();"> Add new Endpoint</button>

  <table class="table table-striped">
  <thead>
    <tr>
      <th ng-if="isUserAuthenticated()">Action</th>
      <th>Uri</th>
      <th>Label</th>
      <th>Endpoint</th>
      <th>Homepage</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="endpoint in endpoints">
      <td ng-if="isUserAuthenticated()">
        <button ng-disabled="!isEditable(endpoint.endpoint)" type="button" class="btn btn-default btn-xs" ng-click="delete(endpoint.uri)"><span class="glyphicon glyphicon-trash"></span></button>
        <button ng-disabled="!isEditable(endpoint.endpoint)"  type="button" class="btn btn-default btn-xs" ng-click="edit(endpoint.uri);" data-toggle="modal" data-target="#modalEndpoint"><span class="glyphicon glyphicon-edit"></span></button>
      </td>
      <td>{{endpoint.uri}}</td>
      <td>{{endpoint.label}}</td>
      <td>{{endpoint.endpoint}}</td>
      <td>{{endpoint.homepage}}</td>
    </tr>
  </tbody>
  </table>
<!-- EndpointCtrl Controller -->
</div>


<h4>Relational Databases</h4>

<div ng-controller="DatabaseCtrl">

  <button ng-if="isUserAuthenticated()" type="button" class="btn btn-success btn-large"
    ng-click="new();">Add new Database</button>

  <table class="table table-striped">
  <thead>
    <tr>
      <th ng-if="isUserAuthenticated()">Action</th>
      <th>Uri</th>
      <th>Label</th>
      <th>Type</th>
      <th>Host</th>
      <th>Name</th>
      <th>Port</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="database in databases">
      <td ng-if="isUserAuthenticated()">
        <button type="button" class="btn btn-default btn-xs" ng-click="delete(database.uri)"><span class="glyphicon glyphicon-trash"></span></button>
        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modalDatabase" ng-click="edit(database.uri); "><span class="glyphicon glyphicon-edit"></span></button>
      </td>
      <td>{{database.uri}}</td>
      <td>{{database.label}}</td>
      <td>{{database.dbType}}</td>
      <td>{{database.dbHost}}</td>
      <td>{{database.dbName}}</td>
      <td>{{database.dbPort}}</td>
    </tr>
  </tbody>
  </table>
<!-- DatabaseCtrl Controller -->
</div>

