
<div id="datasource-endpoint">
<h4>SPARQL Endpoint</h4>
<!-- EndpointCtrl Controller -->
<div ng-if="isUserAuthenticated()" ng-controller="EndpointCtrl">

  <button type="button" class="btn btn-success btn-large"
    ng-click="new();"> Add new Endpoint</button>

  <table class="table table-striped">
  <thead>
    <tr>
      <th>Action</th>
      <th>Uri</th>
      <th>Label</th>
      <th>Endpoint</th>
      <th>Homepage</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="endpoint in endpoints">
      <td>
        <button ng-disabled="!isEditable(endpoint.endpoint)" type="button" class="btn btn-default btn-xs" ng-click="delete(endpoint.uri)"><span class="glyphicon glyphicon-trash"></span></button>
        <button ng-disabled="!isEditable(endpoint.endpoint)"  type="button" class="btn btn-default btn-xs" ng-click="edit(endpoint.uri);" data-toggle="modal" data-target="#modalEndpoint"><span class="glyphicon glyphicon-edit"></span></button>
      </td>
      <td>{{endpoint.uri}}</td>
      <td>{{endpoint.label}}</td>
      <td><a href="{{endpoint.endpoint}}" target="_blanc">{{endpoint.endpoint}}</a></td>
      <td><a href="{{endpoint.homepage}}" target="_blanc">{{endpoint.homepage}}</a></td>
    </tr>
  </tbody>
  </table>
</div>
</div>


<div id="datasource-rdb">
<h4>Relational Databases</h4>
<!-- DatabaseCtrl Controller -->
<div ng-if="isUserAuthenticated()" ng-controller="DatabaseCtrl">

  <button type="button" class="btn btn-success btn-large"
    ng-click="new();">Add new Database</button>

  <table class="table table-striped">
  <thead>
    <tr>
      <th>Action</th>
      <th>Uri</th>
      <th>Label</th>
      <th>Type</th>
      <th>Host</th>
      <th>Name</th>
      <th>Port</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="database in databases">
      <td >
        <button type="button" class="btn btn-default btn-xs" ng-click="delete(database.uri)"><span class="glyphicon glyphicon-trash"></span></button>
        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modalDatabase" ng-click="edit(database.uri); "><span class="glyphicon glyphicon-edit"></span></button>
      </td>
      <td>{{database.uri}}</td>
      <td>{{database.label}}</td>
      <td>{{database.dbType}}</td>
      <td>{{database.dbHost}}</td>
      <td>{{database.dbName}}</td>
      <td>{{database.dbPort}}</td>
    </tr>
  </tbody>
  </table>
  </div>
  </div>



<!-- LicenseSourceCtrl  -->
<div id="datasource-license">
<h4>Licences</h4>
<div ng-if="isUserAuthenticated()" ng-controller="LicenseSourceCtrl">
  <button  type="button" class="btn btn-success btn-large"
           ng-click="new()">Add Licence</button>
  <p ng-if="licenses.length<=0">No licences found</p>



    <table class="table table-striped" ng-if="licenses.length>0">
    <thead>
      <tr>
        <th>Actions</th>
        <th>URI</th>
        <th>Label</th>
        <th>URL Input</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="license in licenses">
        <td>
          <button type="button" class="btn btn-default btn-xs" ng-confirm-click="delete(license.uri)" ng-confirm-message="Are you sure you want to delete this resource?"><span class="glyphicon glyphicon-trash"></span></button>
          <button type="button" class="btn btn-default btn-xs" ng-click="edit(license.uri); "><span class="glyphicon glyphicon-edit"></span></button>
        </td>
        <td>{{license.uri}}</td>
        <td>{{license.label}}</td>
        <td><a href="{{license.url}}">{{license.url}}</a></td>
        
      </tr>
    </tbody>
    </table>

</div>
</div>

