<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GeoKnow Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/bootstrap-modal.css" rel="stylesheet"/>
    <link href="css/app.css" rel="stylesheet"/>
    
    <link rel="icon" type="image/png" href="img/favicon.png">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <!-- <link rel="shortcut icon" href="../assets/ico/favicon.ico"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/apple-touch-icon-114-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/apple-touch-icon-72-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" href="img/ico/apple-touch-icon-57-precomposed.png"/>
 -->  
  </head>

  <body ng-cloak ng-app="app" ng-controller="LoginCtrl">

	<div class="navbar navbar-static-top">
	<div class="col-xs-2">
	</div>
			<div class="col-xs-9">
	                <a class="navbar-brand" href="#/"></a>
	                    <div ng-controller="NavbarCtrl">
	                    	<ul class="nav navbar-nav navbar-left">
	                        <li ng-class="getClass('/home')"><a href="#/"><div class="glyphicon glyphicon-cog"></div> Workbench </a></li>
	                        <!-- <li ng-class="getClass('/batch')""><a href="#/batch"><div class="glyphicon glyphicon-list"></div> Batch job </a></li> -->
	                        <li ng-class="getClass('/settings')"><a href="#/settings"><div class="glyphicon glyphicon-wrench"></div> Settings </a></li>
	                        <li ng-class="getClass('/account')"><a href="#/account"><div class="glyphicon glyphicon-user"></div> Account </a></li>
	                        </ul>
	                        
	                        <ul class="nav navbar-nav navbar-right">
                            <li>
                            <div ng-show="currentAccount.username">
                                        <span class="strong">You are logged in as <strong>{{currentAccount.username}}</strong></span> <button class="btn-sm btn-success" ng-click="logout()">Logout</button>
                            </div>
                            <div ng-hide="loggedIn">
                                        <!-- ng-disabled="loginForm.$invalid" -->
                                        <button type="button" class="btn-sm btn-success navbar-left" data-toggle="modal" data-target="#modalLogin" ng-click="openModal()">Login</button>
                                        <button type="button" class="btn-xs btn-link navbar-left" data-toggle="modal" data-target="#modalSignUp" ng-click="new();">Register</button>
                                    	<button type="button" class="btn-xs btn-link navbar-left" data-toggle="modal" data-target="#modalRestorePassword" ng-show="currentAccount.username==null">Forgot password?</button>
                            </div>
                            </li>
	                        <!-- <li><a href="http://geoknow.eu" target="_blanc"><div class="glyphicon glyphicon-info-sign"></div> About</a></li> -->
	                        </ul>
	                    </div>
	        </div>
	</div>

	<div class="modal fade" id="modalLogin">
	<div class="modal-dialog">
    <div class="modal-content">
	<form name="loginForm" class="form-horizontal InputForm" role="form" ng-show="currentAccount.username==null">
			<div class="modal-header">
                <button type="button" class="close" ng-click="close('#modalLogin')" aria-hidden="true">&times;</button>
                <h5 class="modal-title green bold">Login</h5>
            </div>
            <div class="modal-body">
            
										<div class="form-group">
                                            <label class="sr-only" for="login">Username or e-mail</label>
                                            <input type="text" class="form-control col-xs-3 input-sm" id="login" placeholder="Username or e-mail address" ng-model="login.username" required>
                                            <div class="error" ng-show="loginForm.login.$dirty && loginForm.login.$invalid">
                                                <span ng-show="loginForm.login.$error.required">Enter your username</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="password">Password</label>
                                            <input type="password" class="form-control col-xs-3 input-sm" id="password" placeholder="Password" ng-model="login.password" required>
                                        </div>
                                        <div class="error" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
                                            <span ng-show="loginForm.password.$error.required">Enter a password</span>
                                        </div>
             </div>
             
             <div class="modal-footer">
                <button type="submit" class="btn-sm btn-success" ng-click="login();" ng-disabled="loginForm.$invalid">Sign in</button>
                <button type="button" class="btn-sm btn-default" ng-click="close('#modalLogin')">Cancel</button>
            </div>
    </form>
    </div>
    </div>
	</div>

    <div class="modal fade" id="modalSignUp">
    <div class="modal-dialog">
    <div class="modal-content">
        <form name="signUpForm" class="form-horizontal InputForm" role="form">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('#modalSignUp')" aria-hidden="true">&times;</button>
                <h5 class="modal-title green bold">Register</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="username" class="col-lg-2 control-label">Username</label>
                    <div class="col-lg-10">
                        <input type="text" id="username" name="username" class="form-control" placeholder="Username" ng-model="signUp.username" required/>
                        <div class="error"  ng-show="signUpForm.username.$dirty && signUpForm.username.$invalid">Invalid:
                            <span ng-show="signUpForm.username.$error.required">Enter a username</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-lg-2 control-label">E-mail</label>
                    <div class="col-lg-10">
                        <input type="email" id="email" name="email" class="form-control" placeholder="E-mail address" ng-model="signUp.email" required/>
                        <div class="error" ng-show="signUpForm.email.$dirty && signUpForm.email.$invalid">Invalid:
                            <span ng-show="signUpForm.email.$error.required">Enter your email address</span>
                            <span ng-show="signUpForm.email.$error.email">This is not a valid email address</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn-sm btn-success" ng-click="createAccount();" ng-disabled="signUpForm.$invalid">Register</button>
                <button type="button" class="btn-sm btn-default" ng-click="close('#modalSignUp')">Cancel</button>
            </div>
        </form>
    </div>
    </div>
    </div>

      <div class="modal fade" id="modalRestorePassword">
      <div class="modal-dialog">
    	<div class="modal-content">
          <form name="restorePasswordForm" class="form-horizontal InputForm" role="form">
              <div class="modal-header">
                  <button type="button" class="close" ng-click="close('#modalRestorePassword')" aria-hidden="true">&times;</button>
                  <h5 class="modal-title green bold">Request password</h5>
              </div>
              <div class="modal-body">
                  <div class="form-group">
                      <label for="username" class="col-lg-2 control-label">Username or e-mail address</label>
                      <div class="col-lg-10">
                          <input type="text" id="username" name="username" class="form-control" placeholder="Username or e-mail address" ng-model="restorePassword.username" required/>
                          <div class="error" ng-show="restorePasswordForm.username.$dirty && restorePasswordForm.username.$invalid">Invalid:
                              <span ng-show="restorePasswordForm.username.$error.required">Enter your username or email address</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn-sm btn-success" ng-click="restorePassword();" ng-disabled="restorePasswordForm.$invalid">Request password</button>
                  <button type="button" class="btn-sm btn-default" ng-click="close('#modalRestorePassword')">Cancel</button>
              </div>
          </form>
      </div>
   	  </div>
      </div>

    <div id="contents" app-view-segment="0"></div>


    
  <!-- THIS IS REPLACED BY THE LINE ABOVE TO USE SEGMENTS <div id="workspace" ng-view></div> -->

    <!--  <div id="editor" ace-editor></div>-->
    <!--  <alert id="error"></alert> -->  

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="lib/jquery/jquery-1.7.2.min.js"></script> -->
    
    <script src="lib/jquery/jquery-1.9.1.js"></script>
    <script src="lib/jquery/jquery-ui-1.10.1.custom.min.js"></script>
     
    <script src="lib/bootstrap/bootstrap.js"></script>
    <script src="lib/angularjs/angular.js"></script>
    <script src="lib/angularjs/angular-cookies.js"></script>
    <script src="lib/angularjs/angular-route.js"></script>
    <script src="lib/modal-master/bootstrap-modal.js"></script>
    <script src="lib/modal-master/bootstrap-modalmanager.js"></script>
    <script src="js/config.js"></script>
    <script src="js/app.js"></script>
    <!-- services for the different modules/pages -->
    <script src="js/services.js"></script>
    <script src="js/configuration-service.js"></script>
    <script src="js/graph-service.js"></script>
    <script src="js/account-service.js"></script>
    <script src="js/login-service.js"></script>
    <script src="js/graph-group-service.js"></script>
    <!-- controllers for the different modules/pages -->
    <script src="js/controllers.js"></script>
    <script src="js/controllers-settings.js"></script>
    <script src="js/settings/settings-controller.js"></script>
    <script src="js/settings/datasets/datasets-controller.js"></script>
    <!-- directives -->
    <script src="js/directives.js"></script>
    <script src="lib/osm/OpenLayers.js"></script>
    <script src="lib/ui-bootstrap/ui-bootstrap-tpls-0.6.0.min.js"></script>
    <script src="lib/angular-route-segment/angular-route-segment.min.js"></script>
    <script src="lib/angular-file-upload-master/angular-file-upload.min.js"></script>
    <script src="lib/angular-file-upload-master/FileAPI.min.js"></script>
    <script src="lib/angular-flash.min.js"></script>
  </body>
</html>
