<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>GeoKnow Generator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="GeoKnow EU project FP7" />

  <!-- Le styles -->
  <link href="lib/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
  <link href="lib/bootstrap/3.3.4/css/bootstrap-theme.min.css" rel="stylesheet" />
  <link href="lib/bootstrap-slider/bootstrap-slider.css" rel="stylesheet" />
  <link href="lib/angular-loading-bar/loading-bar.css" rel="stylesheet">
  <link href="css/app.css" rel="stylesheet" />
  <link rel="icon" type="image/png" href="img/favicon.png">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <!-- Le fav and touch icons -->
  <!-- <link rel="shortcut icon" href="../assets/ico/favicon.ico"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/apple-touch-icon-114-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/apple-touch-icon-72-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" href="img/ico/apple-touch-icon-57-precomposed.png"/>
 -->
</head>

<body ng-cloak ng-app="app" ng-controller="LoginCtrl">

  <!-- Subscribe to all flash messages. -->
  <div flash-alert active-class="in alert" class="fade" duration="0">
    <button type="button" class="close" ng-click="hide()">&times;</button>
    <span class="alert-message">{{flash.message}}</span>
  </div>

  <header ng-controller="NavbarCtrl">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav" ng-if="isUserAuthenticated()">
            <li ng-class="getClass('/workbench')">
              <a href="#/workbench">
                <div class="glyphicon glyphicon-cog"></div> Workbench </a>
            </li>
            <li ng-class="getClass('/settings')">
              <a href="#/settings">
                <div class="glyphicon glyphicon-wrench"></div> Settings </a>
            </li>
            <li ng-class="getClass('/account')">
              <a href="#/account">
                <div class="glyphicon glyphicon-user"></div> Account </a>
            </li>
          </ul>
          

          <ul class="nav navbar-nav navbar-right">


            <li class="navbar-text" ng-if="isUserAuthenticated() && $root.isSystemSetUp">
              Logged in as <strong>{{currentAccount.username}}</strong>
            </li>

            <li ng-if="isUserAuthenticated() && $root.isSystemSetUp">
              <a href="" ng-click="logout()">
                <div class="glyphicon glyphicon-log-out"></div>Logout</a>
            </li>
            
            <li ng-if="!isUserAuthenticated() && $root.isSystemSetUp">
              <a href="" ng-click="signUp()">
                <div class="glyphicon glyphicon-log-in"></div> Sing Up </a>
            </li>
            

            <li ng-if="!isUserAuthenticated() && $root.isSystemSetUp">
              <a href="" ng-click="login()">
                <div class="glyphicon glyphicon-log-in"></div> Log In </a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>
  <!-- MAIN conteng DIV -->
  <div class="row">
    <div class="col-xs-12">
      <div class="container-fluid">
        <div id="contents" app-view-segment="0"></div>
      </div>
    </div>
  </div>
  <!-- FOOTER 
  <footer>
    <address>
        <div class="container-fluid">
          GeoKnow EU FP7
          <nav class="pull-right">
            <ul ng-controller="NavbarCtrl">
              <li ng-class="getClass('/contact')" ><a href="#/contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </address>
  </footer>-->


  <!-- THIS IS REPLACED BY THE LINE ABOVE TO USE SEGMENTS <div id="workspace" ng-view></div> -->

  <!--  <div id="editor" ace-editor></div>-->
  <!--  <alert id="error"></alert> -->

  <!-- Le javascript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- <script src="lib/jquery/jquery-1.7.2.min.js"></script> -->

  <script src="lib/jquery/jquery-2.1.3.min.js"></script>
  <script src="lib/jquery/jquery-ui-1.11.2.min.js"></script>

  <script src="lib/angular/1.2.27/angular.min.js"></script>
  <script src="lib/angular/1.2.27/angular-cookies.min.js"></script>
  <script src="lib/angular/1.2.27/angular-route.min.js"></script>

  <script src="lib/angular-route-segment/1.3.3/angular-route-segment.min.js"></script>
  <script src="lib/angular-file-upload-master/2.1.1/angular-file-upload-shim.min.js"></script>
  <script src="lib/angular-file-upload-master/2.1.1/angular-file-upload.min.js"></script>
  <script src="lib/angular-file-upload-master/2.1.1/FileAPI.min.js"></script>
  <script src="lib/angular-flash/angular-flash.min.js"></script>
  <script src="lib/angular-loading-bar/loading-bar.js"></script>

  <script src="lib/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="lib/bootstrap-slider/bootstrap-slider.js"></script>
  <script src="lib/ui-bootstrap/ui-bootstrap-tpls-0.11.2.min.js"></script>

  <!-- For Limes Service -->
  <script src="lib/xml2json.min.js"></script>

  <!-- services for the different modules/pages -->
  <script src="js/app.js"></script>
  <script src="js/services/config.js"></script>
  <script src="js/services/services.js"></script>
  <script src="js/services/ns-service.js"></script>
  <script src="js/services/configuration-service.js"></script>
  <script src="js/services/graph-service.js"></script>
  <script src="js/services/account-service.js"></script>
  <script src="js/services/job-service.js"></script>
  <script src="js/services/login-service.js"></script>
  <script src="js/services/graph-group-service.js"></script>
  <script src="js/services/users-service.js"></script>
  <script src="js/services/authsession-service.js"></script>
  <script src="js/services/components-service.js"></script>
  <!-- global controllers -->
  <script src="js/controllers.js"></script>
  <script src="js/login-controller.js"></script>
  <!-- user account contolers -->
  <script src="js/account/account-controller.js"></script>
  <!-- admin controllers -->
  <script src="js/admin/users/users-controller.js"></script>
  <script src="js/admin/roles-controller.js"></script>
  <!-- workbench controllers -->
  <script src="js/workbench/dashboard-controller.js"></script>
  <script src="js/workbench/extraction-and-loading/import-rdf-controller.js"></script>
  <script src="js/workbench/extraction-and-loading/sparqlify-controller.js"></script>
  <script src="js/workbench/extraction-and-loading/triplegeo-controller.js"></script>
  <script src="js/workbench/search-querying-and-exploration/facete-controller.js"></script>
  <script src="js/workbench/search-querying-and-exploration/mappify-controller.js"></script>
  <script src="js/workbench/search-querying-and-exploration/virtuoso-controller.js"></script>
  <script src="js/workbench/manual-revision-and-authoring/ontowiki-controller.js"></script>
  <script src="js/workbench/classification-and-enrichment/deer-controller.js"></script>
  <script src="js/workbench/linking-and-fusing/limes-controller.js"></script>
  <script src="js/workbench/linking-and-fusing/fagi-gis-controller.js"></script>
  <!-- settings controllers -->
  <script src="js/settings/settings-controller.js"></script>
  <script src="js/settings/datasets/graphs-controller.js"></script>
  <script src="js/settings/data-sources/endpoint-controller.js"></script>
  <script src="js/settings/data-sources/database-controller.js"></script>
  <script src="js/settings/namespaces/namespaces-controller.js"></script>
  <script src="js/settings/components/components-controller.js"></script>
  <!-- modal forms controllers -->
  <script src="modal-forms/modal-login-controller.js"></script>
  <script src="modal-forms/modal-signup-controller.js"></script>
  <script src="modal-forms/modal-change-pw-controller.js"></script>
  <script src="modal-forms/workbench/modal-job-controller.js"></script>
  <script src="modal-forms/workbench/modal-limes-job-controller.js"></script>
  <script src="modal-forms/settings/modal-roles-controller.js"></script>
  <script src="modal-forms/settings/modal-user-controller.js"></script>
  <script src="modal-forms/settings/dataset/modal-graph-controller.js"></script>
  <script src="modal-forms/settings/dataset/modal-graphgroup-controller.js"></script>
  <script src="modal-forms/settings/datasource/modal-endpoint-controller.js"></script>
  <script src="modal-forms/settings/datasource/modal-database-controller.js"></script>

  <!-- directives -->
  <script src="js/directives.js"></script>

</body>

</html> 