<div class="container-fluid"  ng-controller="SystemSetupCtrl">

    <h4> System Setup</h4>

    <dl class="dl-horizontal">
        <dt>Framework URI</dt>
        <dd>{{settings.frameworkUri}}</dd>

        <dt>Resources NS</dt>
        <dd>{{settings.uriBase}}</dd>

        <dt>Settings graph</dt>
        <dd>{{settings.defaultSettingsGraphUri}}</dd>

        <dt>Endpoint</dt>
        <dd>{{settings.publicEndpointService}}</dd>

        <dt>Setup flag paht</dt>
        <dd>{{settings.flagPath}}</dd>
    </dl>

    <div class="form-actions" >
         <div class="checkbox">
            <label>
            <input type="checkbox" ng-model="reset"> Reset
            </label>
        </div>
        <button type="submit" ng-click="setup();" class="btn btn-sm btn-primary">Setup</button>
    </div>
</div>