<div class="row below">
		<b data-i18n="_select-graph-save-message_"></b>
	<br>
	</div>
	<div class="row">
	<label data-i18n="_graph_"></label>
    <select class="form-control" ng-model="dataset" ng-options="namedgraph.name as namedgraph.name for namedgraph in namedGraphs" required>
    </select>
  </div>
	<br/>
	<div class="row">
		<div class="pull-left" style="padding-left:0">
			  <a class="btn btn-sm btn-success" ng-click="save()" data-i18n="_save_"></a>
		</div>
	</div>
</div>
<br> 
<b>OR</b>
<br>
<br>
<div class="row">
	<div class="pull-left" style="padding-left:0">
	  <a class="btn btn-sm btn-success" ng-click="save()" data-i18n="_save-res-in-new-graph_"></a>
	</div>
</div>